<TITLE>HTML Math</TITLE>
<H1>The ABOVE element</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math

<P>The &lt;ABOVE&gt; element is used to draw a line, arrow, curly
bracket, or accent <i>above</i> the expression enclosed by this element.
Stretchy symbols should be stretched to match the width of the
enclosed expression. For example:

<pre>                                     _____
    &lt;above&gt;X + Y&lt;/above&gt;    giving   X + Y

                                               =====
    &lt;above sym=equals&gt;X + Y&lt;/above&gt;   giving   X + Y
</pre>

<P>You can also place an expression centered
above the line or arrow with the SUP element or its shortref form, for
example:

<pre>&lt;above sym=cub&gt;n(n - 1)(n - 2)&amp;dots;(n - m + 1)&lt;/above&gt;
&lt;sup&gt;&lt;text&gt;total of m factors&lt;/text&gt;&lt;/sup&gt;
</pre>

<P>which would be rendered as (within limits of ascii art):

<pre>           total of m factors
    /---------------^-------------\
    n(n - 1)(n - 2) ... (n - m + 1)</pre>

<H3>Permitted Attributes</h3>

<DL> <DT>SYM <DD>An entity name for a symbol, e.g.
<i>cub</i> for a curly bracket (brace). Defaults to <i>line</i>.
The other choices are: <i>larr</i> (left arrow), <i>rarr</i> (right
arrow), <i>hat</i> and <i>tilde</i>.
</DL>

<P><B>Note:</B> Don't include the &amp; prefix, so
<tt>&lt;above sym="&amp;rarr;"&gt;</tt> is wrong!
<!--NewPage-->
