<TITLE>Acknowledgments</TITLE>
<H1>Acknowledgments</H1>

<H3>Pasted from HTML 2.0 spec, this section is under revision ...</h3>
<HR>

<P>The HTML document type was designed by Tim Berners-Lee at CERN as
part of the 1990 World-Wide Web project. In 1992, Dan Connolly wrote
the HTML Document Type Definition (DTD) and a brief HTML specification.

<P>Since 1993, a wide variety of Internet participants have contributed
to the evolution of HTML. NCSA Mosaic played a particularly important
role in establishing HTML. Mosaic pioneered the addition of in-line
images, image maps, nested lists and fill-out forms (derived from work
on HTML+). Minor variations in the way extensions were supported by
different browsers eventually led to the setting up of the HTML working
group. The HTML 2.0 specification sets out a definitive standard for
HTML, formalizing the de facto situation during 1994.

<P>HTML+ was the result of my work on possible directions
for extending HTML to meet the needs of information providers, e.g. to
support forms, tables, text flow around figures and math. This work has
now culminated in the current HTML 3.0 specification, which adds a range
of important new features to HTML while preserving simplicity and
backwards compatibility with existing documents.

<P>I would like to express my special thanks to members of the Internet
community on the www-talk, www-html and html-wg mailing lists; to people
who have written to me in person, and to members of the SGML-Open who have
been very supportive of the Web initiative. Thanks also to Hewlett Packard
for funding my work on HTML.

<P>Particular thanks are due to:

<UL>
<LI>Terry Allen; O'Reilly &amp; Associates; terry@ora.com
<LI>Marc Andreessen; Netscape Communications Corp; marca@netscape.com
<LI>Eric Bina; Netscape Communications Corp; ebina@netscape.com
<LI>Paul Burchard; The Geometry Center, University of Minnesota;
burchard@geom.umn.edu
<LI>James Clark; jjc@jclark.com
<LI>Daniel W. Connolly; HaL Computer Systems; connolly@hal.com
<LI>Stephen DeRose; EBT; ??? steve@ebt.com
<LI>Roy Fielding; University of California, Irvine;
fielding@ics.uci.edu
<LI>Jay Glicksman; Enterprise Integration Technology; jay@eit.com
<LI>Eduardo Gutentag; Sun Microsystems; eduardo@Eng.Sun.com
<LI>Bill Hefley; Software Engineering Institute, Carnegie Mellon
University; weh@sei.cmu.edu
<LI>Chung-Jen Ho; Xerox Corporation; cho@xsoft.xerox.com
<LI>Mike Knezovich; Spyglass, Inc.; mike@spyglass.com
<LI>Tim Berners-Lee; CERN; timbl@info.cern.ch
<LI>Tom Magliery; NCSA; mag@ncsa.uiuc.edu
<LI>Murray Maloney; SCO Canada; murray@sco.com
<LI>Larry Masinter; Xerox Palo Alto Research Center;
masinter@parc.xerox.com
<LI>Karen Olson Muldrow; HaL Computer Systems; karen@hal.com
<LI>Bill Perry, Spry, Inc., wmperry@spry.com
<LI>E. Corprew Reed; Cold Spring Harbor Laboratory; corp@cshl.org
<LI>Yuri Rubinsky; SoftQuad, Inc.; yuri@sq.com
<LI>Eric Schieler; Spyglass, Inc.; eschieler@spyglass.com
<LI>Eric Severson; Avalanche, Inc.; ??? severson@avalanche.com
<LI>Eric W. Sink; Spyglass, Inc.; eric@spyglass.com
<LI>Stuart Weibel; OCLC Office of Research; weibel@oclc.org
<LI>Chris Wilson; Spry, Inc.; cwilson@spry.com

</UL>

Dave Raggett &lt;dsr@w3.org&gt;, February 1995.
<!--NewPage-->
