<TITLE>HTML Math</TITLE>
<H1>The ARRAY element</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> one or more <a href="mathfields.html#rows">ROW</a>s,
each containing one or more <a href="mathfields.html#items">ITEM</a>s

<P>The &lt;ARRAY&gt; element is used for LaTeX-like arrays. It can only
be used within MATH elements. For example:

<pre>    a      a    ...   a
     11     12         1n
     
    :      :    ...    :

    a      a    ...   a
     n1     n2         nn
</pre>

<P>This is represented in HTML math by:

<pre>    &lt;array&gt;
     &lt;row&gt;&lt;item&gt;a_11_&lt;item&gt;a_12_&lt;item&gt;&cdots;&lt;item&gt;a_1n_
     &lt;row&gt;&lt;item&gt;&vdots;&lt;item&gt;&vdots;&lt;item&gt;&ddots;&lt;item&gt;&vdots;
     &lt;row&gt;&lt;item&gt;a_n1_&lt;item&gt;a_n2_&lt;item&gt;&cdots;&lt;item&gt;a_nn_
    &lt;/array&gt;
</pre>

<P>You can specify the "+", "-" or "=" characters as column separators:

<pre>    a   x   +  a   x   +  ...  +  a   x    =   b
     11  1      12  2              1n  n        1

    a   x   +  a   x   +  ...  +  a   x    =   b
     22  1      22  2              2n  n        2
 
    .............................................

    a   x   +  a   x   +  ...  +  a   x    =   b
     n2  1      n2  2              nn  n        n</pre>

<P>This is represented by:

<pre>&lt;array coldef="C+C+C+C=C"&gt;
 &lt;row&gt;&lt;item&gt;a_11_x_1_&lt;item&gt;a_12_x_2_&lt;item&gt;&cdots;&lt;item&gt;a_1n_x_n_&lt;item&gt;b_1_
 &lt;row&gt;&lt;item&gt;a_21_x_1_&lt;item&gt;a_22_x_2_&lt;item&gt;&cdots;&lt;item&gt;a_2n_x_n_&lt;item&gt;b_2_
 &lt;row&gt;&lt;item colspan=5&gt;&dotfill;
 &lt;row&gt;&lt;item&gt;a_n1_x_1_&lt;item&gt;a_n2_x_2_&lt;item&gt;&cdots;&lt;item&gt;a_nn_x_n_&lt;item&gt;b_n_
&lt;/array&gt;</pre>

<P>The number of rows and colums is left to the parser to
work out for itself by counting the number of ROW elements, and the
number of ITEMs on each row. This is slightly complicated by the
possibility that some items may span several rows and columns. If
a row has less than the expected number of items after accounting
for merged items, the missing items  are assumed to be on the
righthandside, and should be treated as empty. The row count should
be based on the ROW elements, and additional rows, implied by items
spanning rows beyond the end of the array, should be ignored.

<H3>Permitted Attributes</h3>

<DL>
<DT>ALIGN <DD>By default, arrays are vertically positioned so that
preceding and following expressions are aligned with the mid point of
the array. The ALIGN attribute can take on of the following values:<BR><BR>

<DL>
<DT>TOP <DD>The top row of the array is aligned with the same
baseline as the preceding or following expression.

<DT>MIDDLE <DD>The middle row of the array is aligned with the
same baseline as the preceding or following expression. This is the
default. If there are an even number of rows, the midpoint of the array
is used instead.

<DT>BOTTOM <DD>The bottom row of the array is aligned with the
same baseline as the preceding or following expression.
</DL>

<DT>COLDEF <DD>By default the columns are centered. This attribute can be
used to specify the horizontal alignment for each column with character
string formed by one capital letter per column, with L for left, C for
center and R to right alignment, e.g. "LLCR" for a 4 column table.

<P>The COLDEF attribute can also be used to place a "+", "-" or "="
between the columns, e.g. <tt>coldef="C+C+C+C=C"</tt>. Whitespace within
the COLDEF attribute is ignored.

<DT>LDELIM <DD>An entity or character for the left delimiter, e.g.
<tt>ldelim="["</tt> for a left square bracket or <tt>ldelim="|"</tt>.
The default is no delimiter.

<DT>RDELIM <DD>An entity name or character for the right delimiter, e.g.
<tt>rdelim="}"</tt> or <tt>rdelim="|"</tt>. The default is no delimiter.

<DT>LABELS <DD>The presence of this attribute has the same effect as
TeX's bordermatrix command. The first row and column are separated from
the rest of the array.
</DL>

<P>Example of a labelled array:

<pre>      i     j     k
      
 a  (X     X     X  )
    ( 11    21    31)    &lt;array ldelim="(" rdelim=")" labels&gt;
    (               )     &lt;row&gt;&lt;item&gt;dummy&lt;item&gt;i&lt;item&gt;j&lt;item&gt;k
 b  (X     X     X  )     &lt;row&gt;&lt;item&gt;a&lt;item&gt;X_11_&lt;item&gt;X_21_&lt;item&gt;X_31_
    ( 12    22    32)     &lt;row&gt;&lt;item&gt;b&lt;item&gt;X_12_&lt;item&gt;X_22_&lt;item&gt;X_32_
    (               )     &lt;row&gt;&lt;item&gt;c&lt;item&gt;X_31_&lt;item&gt;X_32_&lt;item&gt;X_33_
 c  (X     X     X  )    &lt;/array&gt;
    ( 13    23    33)
</pre>

<P><B>Note:</B> An item is always required for the first item of
the first row, although its contents will be ignored for labelled
arrays. This has been emphasized above with the value "dummy".

<!--NewPage-->
