<TITLE>HTML Math</TITLE>
<H1>The BELOW element</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math

<P>The &lt;BELOW&gt; element is used to draw a line, arrow, or curly
bracket <i>below</i> the expression enclosed by this element. For
example:

<pre>
    &lt;below&gt;X + Y&lt;/below&gt;    giving   X + Y
                                     _____

    &lt;below sym=rarr&gt;X + Y&lt;/below&gt;   giving   X + Y
                                             ---->
</pre>

<P>You can also place an expression centered below the line or arrow
with the SUP element or its shortref form, for example:

<pre>&lt;above sym=cub&gt;n(n - 1)(n - 2)&amp;dots;(n - m + 1)&lt;/above&gt;
&lt;sup&gt;&lt;text&gt;total of m factors&lt;/text&gt;&lt;/sup&gt;
</pre>

<P>which would be rendered as (within limits of ascii art):

<pre>    n(n - 1)(n - 2) ... (n - m + 1)
    \---------------v-------------/
           total of m factors</pre>

<P><I>I can't find the ISO entity names for under/over curly brackets!<i>

<H3>Permitted Attributes</h3>

<DL> <DT>SYM <DD>An entity name for a stretchy symbol, e.g.
<i>cub</i> for a curly bracket (brace). Defaults to <i>line</i>.
The other choices are: <i>larr</i> (left arrow), <i>rarr</i> (right
arrow), <i>hat</i> and <i>tilde</i>.
</DL>

<P><B>Note:</B> Don't include the &amp; prefix, so
<tt>&lt;below sym="&amp;rarr;"&gt;</tt> is wrong!
<!--NewPage-->
