<title>Unordered Lists</title>
<H1>UL (Unordered List)</H1>

<B>Permitted Context:</B> %Body.Content, %flow, %block<BR>
<B>Content Model:</B> Optional <a href="listheader.html">list header
</a>(LH), followed by one or more <a href="listitem.html">list items</a>(LI)

<P>An unordered list typically is a bulleted list of items. HTML 3.0
gives you the ability to customise the bullets, to do without bullets
and to wrap list items horizontally or vertically for multicolumn lists.

<P>The opening list tag must be &lt;UL&gt;. It is followed by an optional
list header (&lt;LH&gt;caption&lt;/LH&gt;) and then by the first list
item (&lt;LI&gt;). For example:

<PRE>    &lt;UL&gt;
      &lt;LH&gt;Table Fruit&lt;/LH&gt;
      &lt;LI&gt;apples
      &lt;LI&gt;oranges
      &lt;LI&gt;bananas
    &lt;/UL&gt;</PRE>

<P>which could be rendered as:

<H4>Table Fruit</H4>
<UL>
<LI>apples
<LI>oranges
<LI>bananas
</UL>

<P><B>Note:</B> Some legacy documents may include headers or plain text
before the first LI element. Implementors of HTML 3.0 user agents are
advised to cater for this possibility in order to handle badly formed
legacy documents.

<h3>MENU and DIR elements</h3>

<p>These elements are superceded by extensions to the UL element. User
agents are advised to continue to support them for the sake of legacy
documents. Both MENU and DIR consist of one or more LI elements, similar
to UL. MENU lists are typically rendered without bullets in a more
compact style than UL. You can get the same effect with &lt;UL PLAIN&gt;.
DIR lists are used to present lists of items containing up to 20
characters each. Items in a DIR list are arranged in columns. You can get
the same effect with &lt;UL PLAIN WRAP=HORIZ&gt;.

<H3>Permitted Attributes for the UL Element</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left
and the most specific on the right, where classes are separated by a
period. The CLASS attribute is most commonly used to attach a
different style to some element, but it is recommended that where
practical class names should be picked on the basis of the element's
semantics, as this will permit other uses, such as restricting search
through documents by matching on element class names. The  conventions
for choosing class names are outside the scope of this specification.

<DT>CLEAR <DD>This attribute is common to all block-like elements. When
text flows around a figure or table in the margin, you sometimes want
to start an element like a header, paragraph or list below the figure
rather than alongside it. The CLEAR attribute allows you to move down
unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the element alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

<DT>PLAIN <DD>The presence of this attribute suppresses the display of
bullets, e.g. &lt;UL PLAIN&gt;.

<DT>SRC <DD>Specifies an image for use as a bullet. The image is
specified as a URI. This attribute may appear together with the MD
attribute.

<DT>MD <DD>Specifies a message digest or cryptographic checksum for the
associated graphic specified by the SRC attribute. It is used when you
want to be sure that a linked object is indeed the same one that the
author intended, and hasn't been modified in any way. For instance,
MD="md5:jV2OfH+nnXHU8bnkPAad/mSQlTDZ", which specifies an MD5 checksum
encoded as a base64 character string. The MD attribute is generally
allowed for all elements which support URI based links.

<DT>DINGBAT <DD>Specifies an iconic image for use as a bullet.
The icon is specified as an entity name. A list of standard icon
entity names for HTML 3.0 is given in an appendix of this
specification, e.g. <tt>folder</tt> is the entity name for an icon
denoting a directory or folder.

<DT>WRAP <DD>The WRAP attribute is used for multicolumn lists.
Use <tt>wrap=vert</tt> if you want to arrange the list items down the
page before wrapping to the next column. Use <tt>wrap=horiz</tt> if you
want to arrange the items across the page (less useful). The user agent
is responsible for determining how many columns are appropriate.


<DT>COMPACT <DD>The presence of this attribute indicates the user agent
should use reduced interitem spacing. In practice, there are several ways
to increase the compactness of lists: reduced vertical interitem spacing,
smaller font size, or even to avoid line breaks between items. This is
best handled through associated style sheets and the class attribute.

</DL>
<!--NewPage-->
