<title>Captions</title>
<H1>Captions</H1>

<B>Permitted Context:</B> TABLE or FIG<BR>
<B>Content Model:</B> %text

<P>The CAPTION element is used to label a table or figure. Use the align
attribute to specify the position of the caption relative to the
table/figure. For example:

<pre>    &lt;CAPTION ALIGN=LEFT&gt;The Niagara Falls&lt;/CAPTION&gt;</pre>

<P><I>Should we provide separate align and valign attributes for
controlling the horizontal and vertical positioning respectively?</i>

<H3>Permitted Attributes</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left
and the most specific on the right, where classes are separated by a
period. The CLASS attribute is most commonly used to attach a
different style to some element, but it is recommended that where
practical class names should be picked on the basis of the element's
semantics, as this will permit other uses, such as restricting search
through documents by matching on element class names. The  conventions
for choosing class names are outside the scope of this specification.

<DT>ALIGN <DD>Positioning of the caption relative to the table or figure
it labels. The permitted values are: TOP, BOTTOM, LEFT or RIGHT.

</DL>
<!--NewPage-->

