<title>Divisions</title>
<h1>Divisions</h1>

<B>Permitted Context:</B> %Body.Content<BR>
<B>Content Model:</B> %Body.Content

<p>The DIV element is used with the CLASS attribute to represent
different kinds of containers, e.g. chapter, section, abstract, or
appendix. For example:

<PRE>&lt;DIV CLASS=Abstract&gt;
&lt;P&gt;TheChieftain product range is the white hot hope for the
coming year. This report sets out how to position Chieftain
against competing products.
&lt;/DIV&gt;</PRE>


<H3>Permitted Attributes</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. For instance, &lt;DIV CLASS=APPENDIX&gt;
defines a division that acts as an appendix. By convention, the class
names are interpreted hierarchically, with the most general class on
the left and the most specific on the right, where classes are
separated by a period. The CLASS attribute is most commonly used to
attach a different style to some element, but it is recommended that
where practical class names should be picked on the basis of the
element's semantics, as this will permit other uses, such as
restricting search through documents by matching on element class
names. The  conventions for choosing class names are outside the scope
of this specification.

<DT>ALIGN <DD>The ALIGN attribute can be used to explicitly specify
the horizontal alignment of paragraphs within a division:<BR><BR>

<dl> <dt>align=left <dd>Paragraphs are rendered flush left (the
default).

<dt>align=center <dd>Paragraphs are centered.

<dt>align=right <dd>Paragraphs are rendered flush right.

<dt>align=justify <dd>Text lines are justified where practical,
otherwise this gives the same effect as the default <tt>align=left</tt>
setting.</dl>

<DT>NOWRAP <DD>The NOWRAP attribute is used when you don't want the
browser to automatically wrap lines. You can then explicitly specify
line breaks in paragrphs using the BR element.

<DT>CLEAR <DD>This attribute is common to all block-like elements. When
text flows around a figure or table in the margin, you sometimes want
to start the division below the figure rather than alongside it. The
CLEAR attribute allows you to move down unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the element alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

</DL>
<!--NewPage-->
