<title>Font Style Elements</title>
<h1>Font Style Elements</h1>

These elements may be nested within one another. Browsers should, where
practical, aim to combine different types of highlighting as required.

<dl>
<dt><b>B (Boldface)</b>
<dd>The &lt;B&gt; element specifies that the enclosed text should be displayed
in a boldface. If this is not practical, an alternative mapping is allowed.

<dt><b>I (Italic)</b>
<dd>The &lt;I&gt; element specifies that the enclosed text should be
displayed, if practical, in an italic font (or slanted).

<dt><b>TT (TeleType)</b>
<dd>The &lt;TT&gt; element specifies that the enclosed text should be
displayed, if practical, in a fixed-pitch typewriter font.

<dt><b>U (Underline)</b>
<dd>The &lt;U&gt; element specifies that the enclosed text should be
displayed, if practical, as underlined. <i>Not widely supported</i>

<dt><b>S (Strike through)</b>
<dd>The &lt;S&gt; element specifies that the enclosed text should be
displayed with a horizontal line striking through the text. If this is
not practical, an alternative mapping is allowed. <I>New in 3.0</I>.

<dt><b>BIG (Big print)</b>
<dd>The &lt;BIG&gt; element specifies that the enclosed text should be
displayed, if practical, using a big font (compared with the current
font). <I>New in 3.0</I>.

<dt><b>SMALL (Small print)</b>
<dd>The &lt;SMALL&gt; element specifies that the enclosed text should be
displayed, if practical, using a small font (compared with normal text).
<I>New in 3.0</I>.

<dt><b>SUB (Subscript)</b>
<dd>The &lt;SUB&gt; element specifies that the enclosed text should be
displayed as a subscript, and if practical, using a smaller font (compared
with normal text). The ALIGN attribute for SUB is only meaningful within
the MATH element. <I>New in 3.0</I>.

<dt><b>SUP (Superscript)</b>
<dd>The &lt;SUP&gt; element specifies that the enclosed text should be
displayed as a superscript, and if practical, using a smaller font (compared
with normal text). The ALIGN attribute for SUP is only applicable within
the MATH element. <I>New in 3.0</I>. </dl>

<p>An example:

<pre>This text contains some &lt;b&gt;&lt;i&gt;bold italic&lt;/i&gt;&lt;/b&gt; text, some
&lt;S&gt;struck through&lt;/S&gt; text and some &lt;SMALL&gt;small print&lt;/SMALL&gt;.</pre>
<!--NewPage-->
