<TITLE>Character Entity Set(s)</TITLE>
<H1>Character Entity Set(s)</H1>

<H3>This section is undergoing revision ... </h3>

<P><I>In particular, we need to add a more complete list of
character entities, e.g. for the characters below decimal 128 and
missing codes such as currency signs.

<P>The following entity names are used in HTML, always prefixed by
ampersand (&amp;) and followed by a semicolon as shown.

<P>They represent particular graphic characters which have special
meanings in places in the markup, or may not be part of the character
set available to the writer.

<HR>
<H2>Numeric and Special Graphic Entities </H2>

<P>The following table lists each of the supported characters specified
in the Numeric and Special Graphic entity set, along with its name,
syntax for use, and description.

<P>This list is derived from "ISO 8879:1986//ENTITIES Numeric and
Special Graphic//EN" however HTML does not provide support for the
entire entity set. Only the entities listed below are supported.

<PRE>
Name             Syntax       Description            
lt              &amp;lt;        Less than sign
gt              &amp;gt;        Greater than sign
amp             &amp;amp;       Ampersand
quot            &amp;quot;      Double quote sign
</PRE>

<HR>
<H2>ISO Latin 1 Character Entities </H2>

<P>The following table lists each of the characters specified in the
Added Latin 1 entity set, along with its name, syntax for use, and
description.

<P>This list is derived from "ISO 8879:1986//ENTITIES Added Latin
1//EN", and HTML does provide support for the entire entity set.

<PRE>
Name            Syntax      Description            
Aacute          &amp;Aacute;    Capital A, acute accent
Agrave          &amp;Agrave;    Capital A, grave accent
Acirc           &amp;Acirc;     Capital A, circumflex accent
Atilde          &amp;Atilde;    Capital A, tilde
Aring           &amp;Aring;     Capital A, ring
Auml            &amp;Auml;      Capital A, dieresis or umlaut mark
AElig           &amp;AElig;     Capital AE dipthong (ligature)
Ccedil          &amp;Ccedil;    Capital C, cedilla
Eacute          &amp;Eacute;    Capital E, acute accent
Egrave          &amp;Egrave;    Capital E, grave accent
Ecirc           &amp;Ecirc;     Capital E, circumflex accent
Euml            &amp;Euml;      Capital E, dieresis or umlaut mark
Iacute          &amp;Iacute;    Capital I, acute accent
Igrave          &amp;Igrave;    Capital I, grave accent
Icirc           &amp;Icirc;     Capital I, circumflex accent
Iuml            &amp;Iuml;      Capital I, dieresis or umlaut mark
ETH             &amp;ETH;       Capital Eth, Icelandic
Ntilde          &amp;Ntilde;    Capital N, tilde
Oacute          &amp;Oacute;    Capital O, acute accent
Ograve          &amp;Ograve;    Capital O, grave accent
Ocirc           &amp;Ocirc;     Capital O, circumflex accent
Otilde          &amp;Otilde;    Capital O, tilde
Ouml            &amp;Ouml;      Capital O, dieresis or umlaut mark
Oslash          &amp;Oslash;    Capital O, slash
Uacute          &amp;Uacute;    Capital U, acute accent
Ugrave          &amp;Ugrave;    Capital U, grave accent
Ucirc           &amp;Ucirc;     Capital U, circumflex accent
Uuml            &amp;Uuml;      Capital U, dieresis or umlaut mark
Yacute          &amp;Yacute;    Capital Y, acute accent

THORN           &amp;THORN;     Capital THORN, Icelandic
szlig           &amp;szlig;     Small sharp s, German (sz ligature)

aacute          &amp;aacute;    Small a, acute accent
agrave          &amp;agrave;    Small a, grave accent
acirc           &amp;acirc;     Small a, circumflex accent
atilde          &amp;atilde;    Small a, tilde
atilde          &amp;atilde;    Small a, tilde
auml            &amp;auml;      Small a, dieresis or umlaut mark
aelig           &amp;aelig;     Small ae dipthong (ligature)
ccedil          &amp;ccedil;    Small c, cedilla
eacute          &amp;eacute;    Small e, acute accent
egrave          &amp;egrave;    Small e, grave accent
ecirc           &amp;ecirc;     Small e, circumflex accent
euml            &amp;euml;      Small e, dieresis or umlaut mark
iacute          &amp;iacute;    Small i, acute accent
igrave          &amp;igrave;    Small i, grave accent
icirc           &amp;icirc;     Small i, circumflex accent
iuml            &amp;iuml;      Small i, dieresis or umlaut mark
eth             &amp;eth;       Small eth, Icelandic
ntilde          &amp;ntilde;    Small n, tilde
oacute          &amp;oacute;    Small o, acute accent
ograve          &amp;ograve;    Small o, grave accent
ocirc           &amp;ocirc;     Small o, circumflex accent
otilde          &amp;otilde;    Small o, tilde
ouml            &amp;ouml;      Small o, dieresis or umlaut mark
oslash          &amp;oslash;    Small o, slash
uacute          &amp;uacute;    Small u, acute accent
ugrave          &amp;ugrave;    Small u, grave accent
ucirc           &amp;ucirc;     Small u, circumflex accent
uuml            &amp;uuml;      Small u, dieresis or umlaut mark
yacute          &amp;yacute;    Small y, acute accent
thorn           &amp;thorn;     Small thorn, Icelandic
yuml            &amp;yuml;      Small y, dieresis or umlaut mark
</PRE>
<HR>

<H2>Numerical Character References </H2>

<P>This list, sorted numerically, is derived from the ISO 8859/1 8-bit
single-byte coded graphic character set:

<PRE>
Reference           Description
&amp;#00;-&amp;#08;         Unused 
&amp;#09;               Horizontal tab
&amp;#10;               Line feed
&amp;#11;-&amp;#31;         Unused

&amp;32;                Space
&amp;33;                Exclamation mark
&amp;34;                Quotation mark
&amp;35;                Number sign
&amp;36;                Dollar sign
&amp;37;                Percent sign
&amp;38;                Ampersand
&amp;39;                Apostrophe
&amp;40;                Left parenthesis
&amp;41;                Right parenthesis
&amp;42;                Asterisk
&amp;43;                Plus sign
&amp;44;                Comma
&amp;45;                Hyphen
&amp;46;                Period (fullstop)
&amp;47;                Solidus (slash)

&amp;#48; - &amp;#57;       Digits 0-9

&amp;58;                Colon
&amp;59;                Semi-colon
&amp;60;                Less than
&amp;61;                Equals aign
&amp;62;                Greater than
&amp;63;                Question mark
&amp;64;                Commercial at
     
&amp;#65;-&amp;#90;         Letters A-Z

&amp;91;                Left square bracket
&amp;92;                Reverse solidus (backslash)
&amp;93;                Right square bracket
&amp;95;                Horizontal bar
&amp;96;                Acute accent

&amp;#97;-&amp;#122;        Letters a-z

&amp;123;               Left curly brace
&amp;124;               Vertical bar
&amp;125;               Right curly brace
&amp;126;               Tilde

&amp;#127;- &amp;#160;      Unused

&amp;161;               Inverted exclamation
&amp;162;               Cent sign
&amp;163;               Pound sterling
&amp;164;               General currency sign
&amp;165;               Yen sign
&amp;166;               Broken vertical bar
&amp;167;               Section sign
&amp;168;               Umlaut (dieresis)
&amp;169;               Copyright
&amp;170;               Feminine ordinal
&amp;171;               Left angle quote, guillemotleft
&amp;172;               Not sign
&amp;173;               Soft hyphen
&amp;174;               Registered trademark
&amp;175;               Macron accent
&amp;176;               Degree sign
&amp;177;               Plus or minus
&amp;178;               Superscript two
&amp;179;               Superscript three
&amp;180;               Acute accent
&amp;181;               Micro sign
&amp;182;               Paragraph sign
&amp;183;               Middle dot
&amp;184;               Cedilla
&amp;185;               Superscript one
&amp;186;               Masculine ordinal
&amp;187;               Right angle quote, guillemotright
&amp;188;               Fraction one-fourth
&amp;189;               Fraction one-half
&amp;190;               Fraction three-fourths
&amp;191;               Inverted question mark

&amp;192;               Capital A, acute accent
&amp;193;               Capital A, grave accent
&amp;194;               Capital A, circumflex accent
&amp;195;               Capital A, tilde
&amp;196;               Capital A, ring
&amp;197;               Capital A, dieresis or umlaut mark
&amp;198;               Capital AE dipthong (ligature)
&amp;199;               Capital C, cedilla
&amp;200;               Capital E, acute accent
&amp;201;               Capital E, grave accent
&amp;202;               Capital E, circumflex accent
&amp;203;               Capital E, dieresis or umlaut mark
&amp;204;               Capital I, acute accent
&amp;205;               Capital I, grave accent
&amp;206;               Capital I, circumflex accent
&amp;207;               Capital I, dieresis or umlaut mark
&amp;208;               Capital Eth, Icelandic
&amp;209;               Capital N, tilde
&amp;210;               Capital O, acute accent
&amp;211;               Capital O, grave accent
&amp;212;               Capital O, circumflex accent
&amp;213;               Capital O, tilde
&amp;214;               Capital O, dieresis or umlaut mark

&amp;215;               Multiply sign

&amp;216;               Capital O, slash
&amp;217;               Capital U, acute accent
&amp;218;               Capital U, grave accent
&amp;219;               Capital U, circumflex accent
&amp;220;               Capital U, dieresis or umlaut mark
&amp;221;               Capital Y, acute accent

&amp;222;               Capital THORN, Icelandic
&amp;223;               Small sharp s, German (sz ligature)

&amp;224;               Small a, acute accent
&amp;225;               Small a, grave accent
&amp;226;               Small a, circumflex accent
&amp;227;               Small a, tilde
&amp;228;               Small a, tilde
&amp;229;               Small a, dieresis or umlaut mark
&amp;230;               Small ae dipthong (ligature)
&amp;231;               Small c, cedilla
&amp;232;               Small e, acute accent
&amp;233;               Small e, grave accent
&amp;234;               Small e, circumflex accent
&amp;235;               Small e, dieresis or umlaut mark
&amp;236;               Small i, acute accent
&amp;237;               Small i, grave accent
&amp;238;               Small i, circumflex accent
&amp;239;               Small i, dieresis or umlaut mark
&amp;240;               Small eth, Icelandic
&amp;241;               Small n, tilde
&amp;242;               Small o, acute accent
&amp;243;               Small o, grave accent
&amp;244;               Small o, circumflex accent
&amp;245;               Small o, tilde
&amp;246;               Small o, dieresis or umlaut mark

&amp;247;               Division sign

&amp;248;               Small o, slash
&amp;249;               Small u, acute accent
&amp;250;               Small u, grave accent
&amp;251;               Small u, circumflex accent
&amp;252;               Small u, dieresis or umlaut mark
&amp;253;               Small y, acute accent
&amp;254;               Small thorn, Icelandic
&amp;255;               Small y, dieresis or umlaut mark
</PRE>
<!--NewPage-->
