<title>Line Breaks</title>
<h1>Line Breaks</h1>

<B>Permitted Context:</B> %text<BR>
<B>Content Model:</B> Empty!

<P>Line break and tab elements can be used when you need a little more
control over how the browser renders the text.

The &lt;BR&gt; element is used to force a line break.

<p>For example:

<PRE>    This is the first line&lt;br&gt;
    and this is the second&lt;br&gt;
    and this the third</PRE>

<P><I>Shouldn't we have a conditional line break element like Netscape's
WBR thats indicates where to break lines when needed and when wordwrap is
disabled? Rather than an element, shouldn't this be an entity - is there
one already defined for this purpose?</I>

<H3>Permitted Attributes</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class
names are interpreted hierarchically, with the most general class on
the left and the most specific on the right, where classes are
separated by a period. The CLASS attribute is most commonly used to
attach a different style to some element, but it is recommended that
where practical class names should be picked on the basis of the
element's semantics, as this will permit other uses, such as
restricting search through documents by matching on element class
names. The  conventions for choosing class names are outside the scope
of this specification.

<DT>CLEAR <DD>When text flows around a figure or table in the margin,
you sometimes want to start the next line below the figure rather than
alongside it. The CLEAR attribute allows you to move down
unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the element alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

</DL>

<!--NewPage-->
