<title>List Item</title>
<H1>LI (List Item)</H1>

<B>Permitted Context:</B> UL or OL<BR>
<B>Content Model:</B> %flow

<P>The LI or list item element is used for items in both ordered and
unordered lists.

<P><B>Note:</B> The content model for list items is quite broad,
including paragraphs, lists, performatted text, forms, tables, figures
and admonishments. Headers are not permitted, although implementors of
HTML 3.0 user agents are advised to cater for this possibility in order
to handle badly formed legacy documents. If %html.recommended is
active, the HTML 3.0 DTD expects you to enclose plain text in a block
element such as &lt;P&gt;

<H3>Permitted Attributes for the LI Element</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left
and the most specific on the right, where classes are separated by a
period. The CLASS attribute is most commonly used to attach a
different style to some element, but it is recommended that where
practical class names should be picked on the basis of the element's
semantics, as this will permit other uses, such as restricting search
through documents by matching on element class names. The  conventions
for choosing class names are outside the scope of this specification.

<DT>CLEAR <DD>This attribute is common to all block-like elements. When
text flows around a figure or table in the margin, you sometimes want
to start the list item below the figure rather than alongside it. The
CLEAR attribute allows you to move down unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the element alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

<DT>SRC <DD>Specifies an image for use as a bullet. The image is
specified as a URI. This attribute may appear together with the MD
attribute.

<DT>MD <DD>Specifies a message digest or cryptographic checksum for the
associated graphic specified by the SRC attribute. It is used when you
want to be sure that a linked object is indeed the same one that the
author intended, and hasn't been modified in any way. For instance,
MD="md5:jV2OfH+nnXHU8bnkPAad/mSQlTDZ", which specifies an MD5 checksum
encoded as a base64 character string. The MD attribute is generally
allowed for all elements which support URI based links.

<DT>DINGBAT <DD>Specifies an iconic image for use as a bullet.
The icon is specified as an entity name. A list of standard icon
entity names for HTML 3.0 is given in an appendix of this
specification, e.g. <tt>folder</tt> is the entity name for an icon
denoting a directory or folder.

<DT>SKIP <DD>Increments the sequence number before rendering the
element. It is used when headers have been left out of the sequence.
For instance, SKIP=3 advances the sequence number past 3 omitted items.

</DL>
<!--NewPage-->

