<title>Information Type Elements</title> <h1>Information Type
Elements</h1>

<dl> <dt><b>EM</b> <dd>The &lt;EM&gt; element provides typographic
emphasis, typically italics. While &lt;EM&gt; and &lt;I&gt; often give
the same effect, use &lt;EM&gt; except where it is necessary in the
text to refer to the formatting, as in "The italic parts are
mandatory". This will help to ensure consistency between documents from
various sources if (for example) the reader prefers to use color in
place of italics for emphasis.

<dt><b>CITE</b> <dd>The &lt;CITE&gt; element specifies a citation.
Sections tagged with the CITE element are typically rendered in
italics.

<dt><b>STRONG</b> <dd>The &lt;STRONG&gt; element provides strong
typographic emphasis, typically bold.

<dt><b>CODE</b> <dd>The &lt;CODE&gt; element indicates an example of
code; typically rendered in a mono-spaced font. Do not confuse with
PRE.

<dt><b>SAMP</b> <dd>The &lt;SAMP&gt; element indicates a sequence of
literal characters.

<dt><b>KBD</b> <dd>The &lt;KBD&gt; element indicates text typed
(keyboarded) by the user. It might typically be used in an instruction
manual.

<dt><b>VAR</b> <dd>The &lt;VAR&gt; element indicates a variable name,
and might typically be used in an instruction manual.

<dt><b>DFN</b> <dd>The &lt;DFN&gt; element indicates the defining
instance of a term. <I>New in 3.0</I>.

<dt><b>Q</b> <dd>The &lt;Q&gt; element is used for a short quotation.
It is typically shown enclosed in quotation marks as appropriate to the
language context. For English these would be matching double or single
quotation marks, alternating for nested quotes. The language context is
set by the LANG attribute. <I>New in 3.0</I>.

<dt><b>LANG</b> <dd>The &lt;LANG&gt; element is used to alter the
language context when it is inappropriate to do this with other
character-level elements. <I>New in 3.0</I>.

<dt><b>AU</b> <dd>The &lt;AU&gt; element indicates the name of an
author. <I>New in 3.0</I>.

<dt><b>PERSON</b> <dd>The &lt;PERSON&gt; element is used for names of
people to allow these to be extracted automatically by indexing
programs. <I>New in 3.0</I>.

<dt><b>ACRONYM</b> <dd>The &lt;ACRONYM&gt; element is used to markup
acronyms. <I>New in 3.0</I>.

<dt><b>ABBREV</b> <dd>The &lt;ABBREV&gt; element is used to markup
abbreviations. <I>New in 3.0</I>.

<dt><b>INS</b> <dd>The &lt;INS&gt; element is used for inserted text,
for instance in legal documents. <I>New in 3.0</I>.

<dt><b>DEL</b> <dd>The &lt;DEL&gt; is used for deleted text, for instance
in legal documents.  <I>New in 3.0</I>.
</dl>

<p>An example:

<pre>This text contains an &lt;em&gt;emphasized&lt;/em&gt; word.
&lt;strong&gt;Don't assume&lt;/strong&gt; that it will be italic!
It was made with the &lt;code&gt;EM&lt;/code&gt; element. A cite is
often italic and has no formally required structure:
&lt;cite&gt;Moby Dick&lt;/cite&gt; is a book title.</pre>
<!--NewPage-->
