<TITLE>HTML Math</TITLE>
<H1>TEXT</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> PCDATA

<P>This element is used to include a few words of text within MATH
elements. It avoids the need to separate words with spacing entities such
as <tt>&amp;sp;</tt> that are otherwise needed to provide adequate
spacing. The text is rendered literally, and may include entities for
accented characters etc.

<P>There are no attributes for this element.
<!--NewPage-->
