<TITLE>HTML Math</TITLE>
<H1>B, T and BT</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math

<P>These elements are used, when feasible,  to alter the default fonts
used to render variables and constants. Numbers, operators, delimiters and other symbols
are unaffected.
<B>B</B> renders its contents in bold, while <B>T</B>
renders its contents in an upright font rather than an italic font. These
can be nested to combine the effects, for a bold upright font. The
<B>BT</B> element allows you to write
<tt>&lt;BT&gt;<i>term</i>&lt;/BT&gt;</tt> rather from having to write:
<tt>&lt;B&gt;&lt;T&gt;<i>term</i>&lt;/T&gt;&lt;/B&gt;</tt>.

<DL>
<H3>Permitted Attributes</h3>

<DL>
<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left and
the most specific on the right, where classes are separated by a
period.

<P>By using CLASS to describe the term as a <i>vector</i>, <i>tensor</i>
or <i>matrix</i> etc. user agents can do a better job when rendering to
non-visual media. Further conventions for term class names are not
part of this specification.
</DL>

<P><B>Note:</B> Don't use <B>B</B> for chemical formulae. These should
be handled by subclassing the MATH element with <tt>class=chem</tt>, for
instance: <tt>&lt;MATH CLASS=CHEM&gt;</tt>

<!--NewPage-->
