<TITLE>HTML Math</TITLE>
<H1><a name="rows">The ROW element</a></H1>

<B>Permitted Context:</B> ARRAY<BR>
<B>Content Model:</B> one or more ITEMs

<P>The &lt;ROW&gt; element is used for rows of items within the ARRAY
element. It has no permitted attributes. The end tag &lt;/ROW&gt; can
always be left out.

<H1><a name="items">The ITEM element</a></H1>

<B>Permitted Context:</B> ROW<BR>
<B>Content Model:</B> %math

<P>The &lt;ITEM&gt; element is used for items within a row of the ARRAY
element. The end tag &lt;/ITEM&gt; can always be left out.


<H3>Permitted Attributes for ITEM</h3>

<DL>
<DT>ALIGN <DD>By default expressions in items are centered horizontally.
This can be altered by the COLDEF attribute on the parent ARRAY element,
and overridden on a per item basis with the ALIGN attribute. The
permitted values are: LEFT, CENTER or RIGHT.

<DT>COLSPAN <DD>This can be used to provide a single item which spans
several columns. The attribute value is a positive integer and defaults
to one.

<DT>ROWSPAN <DD>This can be used to provide a single item which spans
several rows. The attribute value is a positive integer and defaults
to one. It can be used together with the COLSPAN attribute.
</DL>

<!--NewPage-->
