<TITLE>HTML Math</TITLE>
<H1>The BOX element</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math?, LEFT?, expression, RIGHT?, %math?<BR>
where expression is %math or %math <i>tag</i> %math, see below.

<P>The BOX element is used for a variety of purposes:

<UL>
<LI>As invisible brackets for disambiguating expressions.
<LI>For placing numerators over denominators, with or without dividing
lines, corresponding to LaTeX's <i>frac, atop</i> and <i>choose</i>
commands.
<LI>For placing delimiters before, and/or after an expression,
which grow to match the height of the expression. This corresponds to
LaTeX's <i>left</i> and <i>right</i> commands.
<LI>For stretchy integral and related signs that grow to match
the height of the integrand. This goes beyond LaTeX and avoids the need
for different symbols for different sizes of integral signs etc.
</UL>

<P>The SHORTREF characters { and } are used as abbreviations for the
start and end tags for BOX elements. Use the SGML entities &amp;lcub; and
&amp;rcub; respectively when you need to use these characters literally.

<P>Short fractions, are best represented using the slash character / as
in <tt>&lt;math&gt;(n + m)/2&lt;/math&gt;</tt> for <tt>(n + m)/2</tt>.
For more complicated fractions you can use the BOX element with the
OVER tag, as in:

<pre>         1
       -----          {1&ltover&gt;x + y}
       x + y

       x - y
     ---------        {x - y&lt;over&gt;1 + {a - b&lt;over&gt;a + b}}
         a - b
     1 + -----
         a + b
</pre>

<P>Use the ATOP tag when you want to place one thing above another, but
without the dividing line. With the CHOOSE tag, the expressions are also
enclosed within round brackets, for instance:

<pre>       a - b
                                  {a - b&lt;atop&gt;a + b}
       a + b
       

  (n + 1)   ( n )   (  n  )       {n+1&lt;choose&gt;k}
  (     ) = (   ) + (     )          = {n&lt;choose&gt;k}
  (  k  )   ( k )   (k - 1)             + {n&lt;choose&gt;k-1}
</pre>

<P>The BOX element can be used with the LEFT and RIGHT tags for
delimiters that stretch to match the size of the enclosed expression.
You are free to give only one or both of the delimiters, and you can use
different symbols for the left and right. Left delimiters should be given
before the LEFT tag, while right delimiters should be given
following the RIGHT tag, for instance:

<pre>              ( 1 + x )       f(x) = {(&lt;left&gt;
       f(x) = ( ----- )                 1+x&lt;over&gt; sin x
              ( sin x )                  &lt;right&gt;)}</pre>
              
<P>For curly brackets you will need to use the &amp;lcub; and &amp;rcub;
entities for { and } respectively. The SIZE attribute can be used to get
oversized delimiters, for instance:

<pre>         2 |          |
    omega  |          |        {&amp;omega;^2^&lt;over&gt;c^2^}
    -----  |&lt;j| mu |i&gt;|         &lt;box size=huge&gt; | &lt;left&gt;
       2   |      z   |              &amp;lt;j | &amp;mu;_z_ | i&amp;gt;
      c    |          |           &lt;right&gt; | &lt;/box&gt;</pre>

<P>The full tag name for the BOX element is needed above in order to
specify a value for the SIZE attribute. The BOX element is also useful
for stretching integral signs to match the height of the integrand.
The integral and its limits appear in the position of the left delimiter
for the BOX element. You can also include multiple integrals, for
instance:

<pre>   inf inf
    /   /  f(x, y)           {&int;_0_^&amp;inf;^ &int;_0_^&amp;inf;^&lt;left&gt;
    |   | --------- dx dy        f(x,y)&lt;over&gt;x^2^ + y^2^} dx dy
    |   |   2     2
    /   /  x  +  y
    0   0</pre>

<H3>Permitted Attributes for the BOX element</h3>

<DL> <DT>SIZE <DD>This used to obtain oversized delimiters. The permitted
values are <i>normal</i> (the default), <i>medium</i>, <i>large</i> and
<i>huge</i>.
</DL>

<P><B>Note:</B> there are no attributes for the LEFT, RIGHT, OVER, ATOP
and CHOOSE tags.

<!--NewPage-->
