<TITLE>HTML Math</TITLE>
<H1>SUB and SUP</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math

<P>The SUB and SUP elements are used for subscripts and superscripts
respectively, and are preferably rendered in reduced font. For integral
and related signs the SUB and SUP elements are used for the lower and
upper limits, for instance:

<PRE>   &amp;sum;&lt;sub&gt;n = 0&lt;/sub&gt;&lt;sup&gt;&amp;inf;&lt;/sup&gt;</pre>

<P>which renders to (within limits of ascii art):

<pre>  infinity
    ---
    \
    /
    ---
   n = 0</pre>

<P>The SGML SHORTREF characters "_" and "^" can be used as abbreviations.
The above example is abbreviated to:

<PRE>    &amp;sum;_n = 0_^&amp;inf;^</pre>

<P><I>Need to give entity names for when you need the _ and ^
characters!</i>

<P>You have to revert to the full form of the tags when superscripting a
superscript or subscripting a subscript, as in:

<pre>    X&lt;sub&gt;a&lt;sub&gt;i&lt;/sub&gt;&lt;/sub&gt;  which is  X    
                                          a   
                                           i                     
</pre>

<P>You can also use superscripts to place expressions or words over 
binary operators, for instance in the following chemical reaction:

<pre>    4LiH + AlCl_3_ &amp;rarr;^ether^ LiAlH_4_ + 3LiCl</pre>

<p>which renders as:

<pre>                   ether
     4LiH + AlCl  ------>  LiAlH  +  3LiCl
         3                      4</pre>

<P>The superscript is centered over the operator, and when feasible the
operator stretched to match the width of the superscript.

<P><B>Note:</B> Dont' use the shortrefs for SUB and SUP in normal text -
they only work within MATH elements!

<H3>Placement of subscripts and superscripts</h3>

<P>Some times you will want to place superscripts to the left of a term.
The simplest way to do this is with shortrefs, e.g.

<pre>    _4_^9^Be + _2^4^He &amp;rarr; _6_^12^C + _0_^1^n</pre>

<P>which renders to (within limits of ascii art):

<pre>     9      4        12    1
      Be +   He  -->   C +  n
     4      2         6    0</pre>

<P>Subscripts and superscripts immediately before a term are rendered to
the left of the term, where as subscripts and superscripts immediately
after a term are rendered on its right. Opportunities for confusion arise
when scripts for a preceding term are followed by scripts for another
term. The simplest solution is to use whitespace to disambiguate the
situation. For instance:

<pre>                      b                           b
    X_a_ ^b^Y  is  X   Y   while  X_a_^b^Y   is  X   Y
                    a                             a
                                           a  b
    but both X^a^ ^b^Y and X^a^^b^Y  are  X    Y   
</pre>

<p>The last case is disambiguated because the two superscript elements
can't both apply to the preceding term, as they can't both be drawn in
the same position. The same would apply to two subscript elements. If
in any doubt, its wise to insert a space to make your meaning clear! If
you prefer, you can use curly brackets, as in: <tt>{X_a_}{^b^Y}</tt>.
These brackets are shortrefs for the BOX element and don't appear when
the expression is finally rendered.


<P>The same rules apply when you use the full form of the SUB and SUP
elements. The ALIGN attribute can be used to override the default
position to render the script, which is normally taken from whether the
script element precedes or follows the term to which it applies. For
instance:

<pre>    X&lt;sub align=right&gt;a&lt;/sub&gt; &lt;sup align=left&gt;b&lt;/sup&gt;Y
    X&lt;sub align=right&gt;a&lt;/sub&gt;Y&lt;sup align=left&gt;b&lt;/sup&gt;
    
                          b
    both render to    X    Y
                       a

    while  X&lt;sub align=right&gt;a&lt;/sub&gt;&lt;sup align=left&gt;b&lt;/sup&gt;Y

                    b
    renders to       X   Y
                      a
</pre>

<P>In the last case, the SUP element act as a prefix superscript to X as
there isn't a delimiter between it and the preceding SUB element. If in
doubt, you should use brackets or whitespace to disambiguate the binding.

<H3>Permitted Attributes</h3>


<P>The ID, LANG and CLASS attributes for SUB and SUP are not used within
MATH elements.

<DL>
<DT>ALIGN <DD>Subscripts and superscripts are normally placed to the
right of the term to which they apply, while limits are normally placed
above (or below) the symbol they apply to. The ALIGN attribute can be
used to override the default positioning.
<BR><BR>

<dl> <dt>align=left <dd>The script (or limit) is placed to the left of
the term.

<dt>align=center <dd>The script is centered on the term and
placed below it for subscripts, and above it (for superscipts).

<dt>align=right <dd>The scripts are placed to the right of the term.
</dl>

<p>For example, you can force limits on integral signs to appear on the
right rather than centered on the integral sign:

<PRE>&amp;int;&lt;sub align=right&gt;0&lt;/sub&gt;&lt;sup align=right&gt;&amp;inf;&lt;/sup&gt;</pre>

<P><B>Note:</B> The ALIGN attribute should be ignored by user agents for
the SUB and SUP elements except within MATH elements.

</DL>
<!--NewPage-->
