<title>Fill-Out Forms</title>
<h1>Menu OPTIONs</h1>

<B>Permitted Context:</B> SELECT<BR>
<B>Content Model:</B> PCDATA

<P>The OPTION element can only occur within a SELECT element. It
represents a possible choice. It can only contain text, together with
SGML entities for accented characters etc.

<P>When the form is submitted, the NAME of the enclosing SELECT element
is paired with the OPTION's VALUE attribute to contribute a name/value
pair for the selection. Unselected options don't contribute to the form's
submitted data. You can initialize the option to its selected state by
including the SELECT attribute.

<P>The SHAPE attribute is used for graphical menus to specify the
region of the background image to be associated with this option.
It uses the same definition as for the <a href="anchors.html">anchor</a>
element.

<H3>Permitted Attributes</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class
names are interpreted hierarchically, with the most general class on
the left and the most specific on the right, where classes are
separated by a period. The CLASS attribute is most commonly used to
attach a different style to some element, but it is recommended that
where practical class names should be picked on the basis of the
element's semantics, as this will permit other uses, such as
restricting search through documents by matching on element class
names. The  conventions for choosing class names are outside the scope
of this specification.

<DT>DISABLED<DD>When present, the option should be rendered as normal,
but can't be modified by the user. Where practical the rendering should
provide a cue that the option is disabled e.g. by graying out the text,
changing the color of the background or similar.

<DT>ERROR<DD>This attribute specifies an error message explaining why
the option is inappropriate. When this attribute is missing, the option
can be assumed to be ok. User agents are recommended to provide a cue
to indicate that the option is in error.

<DT>VALUE<DD>The string to be used together with the name attribute of
the enclosing select element, when submitting the form. It defaults to
the content of the OPTION element.

<DT>SELECTED<DD>When present, this attribute signifies that the option
should be initialized in its selected state. It is an error for more
than one option to be selected for single choice menus.

<DT><a name="shape">SHAPE</a><DD>This attribute is used within menus
to define shaped hotzones associated with this option's value.
The attribute value is a string taking one of the following forms:<BR><BR>

<DL>
<DT>"default"
<DD>Used to define a default menu choice for the menu background. 
<DT>"circle x, y, r"
<DD>Where x and y define the center and r specifies the radius.
<DT>"rect x, y, w, h"
<DD>Where x, y define the upper left corner and w, h define the width
and height respectively
<DT>"polygon x1, y1, x2, y2, ..."
<DD>Given n pairs of x, y coordinates, the polygon is closed by a line
linking the n'th point to the first. Intersecting polygons use the non-zero
winding number rule to determine if a point lies inside the polygon.
</DL>

<P>If a pointer event occurs in a region where two or more shapes
overlap, the distance from the point to the center of gravity of each
of the overlapping shapes is computed and the closest one chosen. This
feature is useful when you want lots of closely spaced hotzones, for
example over points on a map, as it allows you to use simple shapes
without worrying about overlaps.

<P><B>Note:</B> The x coordinate increases to the right, and the y
coordinate increases downwards in the same way as IMG and image maps. If both
numbers are integers, the coordinates are interpreted as pixel offsets
from the upper left corner of the image. Otherwise, the coordinates
are interpreted as scaled values in the range 0.0 to 1.0 across the
image. Note the syntax is tolerant of repeated white space characters
between tokens.

</DL>

<!--NewPage-->
