<title>Figure Overlays</title>
<H1>Figure Overlays</H1>

<B>Permitted Context:</B> start of FIG element<BR>
<B>Content Model:</B> Empty!

<P>The OVERLAY element is used to overlay images on top of a base figure.
Figure overlays provide for more effective use of caching as small
changes to a figure in a subsequent document incur only the penalty of
downloading the overlays and not the larger base figure, as the latter is
already in the cache. The overlay can be offset from the top left corner
of the base image.

<H3>Permitted Attributes</h3>

<DL>
<DT>SRC <DD>Specifies the overlay image as a URI. This attribute may
appear together with the MD attribute.

<DT>MD <DD>Specifies a message digest or cryptographic checksum for the
associated graphic specified by the SRC attribute. It is used when you
want to be sure that a linked object is indeed the same one that the
author intended, and hasn't been modified in any way. For instance,
MD="md5:jV2OfH+nnXHU8bnkPAad/mSQlTDZ", which specifies an MD5 checksum
encoded as a base64 character string. The MD attribute is generally
allowed for all elements which support URI based links.

<DT>UNITS <DD>Specifies the choice of units for width and height:
<tt>units=pixels</tt> (the default) specifies pixels, while
<tt>units=en</tt> specifies en units (a typographical unit equal to half
the point size).

<DT>X <DD>The X offset from the top left corner of the base image. X
increases to the right, and is given in pixels or en units (according
to the value of the UNITS attribute).

<DT>Y <DD>The Y offset from the top left corner of the base image. Y
increases downwards, and is given in pixels or en units (according to
the value of the UNITS attribute).

<DT>WIDTH <DD>Specifies the desired width in pixels or en units
(according to the value of the UNITS attribute). User agents may scale
the figure image to match this width.

<DT>HEIGHT <DD>Specifies the desired height in pixels or en units
(according to the value of the UNITS attribute). User agents may scale
the figure image to match this height.

<DT>IMAGEMAP <DD>Specifies a URI for processing image clicks and drags.

</DL>
<!--NewPage-->

