<TITLE>References</TITLE>
<H1>References</H1>

<H3>Under revision ..</H3>
<HR>
The HTML specification cites these works:<P>
<DL>
<DT>HTTP
<DD>HTTP: A Protocol for Networked Information. This document is
available at <A HREF="http://www.w3.org/WWW/Protocols/HTTP/HTTP2.html">
http://www.w3.org/WWW/Protocols/HTTP/HTTP2.html</A>.
<P>
<DT>MIME <DD>N. Borenstein, N. Freed, MIME (Multipurpose Internet Mail Extensions) Part One: Mechanisms for Specifying and Describing the Format of Internet Message Bodies, 09/23/1993. (Pages=81) (Format=.txt, .ps) (Obsoletes RFC1341) (Updated by RFC1590).  <P> <DT><A NAME=2>SGML
<DD>ISO 8879:1986, Information Processing Text and Office Systems Standard Generalized Markup Language (SGML).  
 <P>
<DT>SGMLS
<DD>An SGML parser by James Clark, jjc@jclark.com, derived from the ARCSGML parser materials which were written by Charles F. Goldfarb. The source is available at <A HREF="ftp://ftp.ifi.uio.no/pub/SGML/SGMLS">ftp.ifi.uio.no/pub/SGML/SGMLS</A>.  
 <P>
<DT>URI
<DD>Universal Resource Identifiers. RFCxxx. Available by anonymous FTP as Postscript (<A HREF="ftp://info.cern.ch/pub/www/doc/url.ps">info.cern.ch/pub/www/doc/url.ps</A>) or text (<A HREF="ftp://info.cern.ch/pub/www/doc/url.txt">info.cern.ch/pub/www/doc/url.txt</A>)
 <P>
<DT>W3
<DD>The World-Wide Web , a global information initiative. For bootstrap information, telnet info.cern.ch or find documents by <A HREF="ftp://info.cern.ch/pub/www/doc">ftp://info.cern.ch/pub/www/doc</A>.
 <P>
</DL>
<!--NewPage-->
