<TITLE>HTML Math</TITLE>
<H1><a name="sqrt">SQRT</a></H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math

<P>This draws a square root sign around the contents, for example the
square root of 1 + x is expressed as:

<pre>    &lt;SQRT&gt;1 + x&lt;/SQRT&gt;</pre>

<p>and possibly rendered as:
<i>(this is the best I can do with ascii art!)</i>

<pre>      ----------
     / 1 + x
    v</pre>

<p>The SQRT element has no attributes.

<H1><a name="root">ROOT</a></H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math, OF, %math

<P>This allows you to specify arbitary roots of an expression. The radix
comes first, and is separated from the radicand by the &lt;OF&gt; tag.
For example the cube root of 1 + x is expressed as:

<pre>    &lt;ROOT&gt;3&lt;OF&gt;1 + x&lt;/ROOT&gt;</pre>

<P>and possibly rendered as:

<pre>      --------
    3/ 1 + x
    v</pre>

<P>The ROOT element has no attributes.

<!--NewPage-->
