<title>Horizontal Rules</title>
<h1>Horizontal Rules</h1>

<B>Permitted Context:</B> %Body.Content<BR>
<B>Content Model:</B> Empty!

<p>The &lt;HR&gt; element is used for horizontal rules that act as
dividers between sections. The SRC attribute can be used to designate
a custom graphic, otherwise subclass HR with the CLASS attribute and
specify the appropriate rendering with an associated style sheet.

<H3>Permitted Attributes</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. For instance, &lt;H2 CLASS=Section&gt;
defines a level 2 header that acts as a section header. By convention,
the class names are interpreted hierarchically, with the most general
class on the left and the most specific on the right, where classes are
separated by a period. The CLASS attribute is most commonly used to
attach a different style to some element, but it is recommended that
where practical class names should be picked on the basis of the
element's semantics, as this will permit other uses, such as
restricting search through documents by matching on element class
names. The  conventions for choosing class names are outside the scope
of this specification.

<DT>CLEAR <DD>This attribute is common to all block-like elements. When
text flows around a figure or table in the margin, you sometimes want
to position the rule below the figure rather than alongside it. The
CLEAR attribute allows you to move down unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the rule alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

<DT>SRC <DD>Specifies a custom image for the rule. The image is
specified as a URI. This attribute may appear together with the MD
attribute.

<DT>MD <DD>Specifies a message digest or cryptographic checksum for the
associated graphic specified by the SRC attribute. It is used when you
want to be sure that a linked object is indeed the same one that the
author intended, and hasn't been modified in any way. For instance,
MD="md5:jV2OfH+nnXHU8bnkPAad/mSQlTDZ", which specifies an MD5 checksum
encoded as a base64 character string. The MD attribute is generally
allowed for all elements which support URI based links.

</DL> <!--NewPage-->
