<TITLE>Security Considerations</TITLE> <H1>Security Considerations</H1>

<P>Anchors, embedded images, and all other elements which contain URIs
as parameters may cause the URI to be dereferenced. In this case, the
security considerations of the URI specification apply.

<P> Documents may be constructed whose visible contents mislead the
reader to follow a link to unsuitable or offensive material.

<P>The MD attribute is useful when authors are concerned that a linked
object may be subsequently changed to something other than intended.
This attribute is used to specify a cryptographic checksum for the linked
object to provide a check on its integrity.
<!--NewPage-->
