<title>Ordered Lists</title>
<H1>OL (Ordered List)</H1>

<B>Permitted Context:</B> %Body.Content, %flow, %block<BR>
<B>Content Model:</B> Optional <a href="listheader.html">list header
</a>(LH), followed by one or more <a href="listitem.html">list items</a>(LI)

<P>An ordered list typically is a numbered list of items. HTML 3.0
gives you the ability to control the sequence number - to continue where
the previous list left off, or to start at a particular number. The
numbering style is left to associated style sheets, e.g. whether nested
lists contribute to a compound item number, e.g. "3.1.5", or whether
numbers are rendered as arabic, upper or lower case roman numerals or
using the numbering scheme appropriate to the language context.

<P>The opening list tag must be &lt;OL&gt;. It is followed by an optional
list header (&lt;LH&gt;caption&lt;/LH&gt;) and then by the first list
item (&lt;LI&gt;). For example:

<PRE>    &lt;OL&gt;
      &lt;LH&gt;Meeting Agenda&lt;/LH&gt;
      &lt;LI&gt;Minutes of the last meeting
      &lt;LI&gt;Do we need yet more meetings?
      &lt;LI&gt;Any other business
    &lt;/OL&gt;</PRE>

<P>which could be rendered as:

<H4>Meening Agenda</H4>
<UL>
<LI>Minutes of the last meeting
<LI>Do we need yet more meetings?
<LI>Any other business
</UL>

<P><B>Note:</B> Some legacy documents may include headers or plain text
before the first LI element. Implementors of HTML 3.0 user agents are
advised to cater for this possibility in order to handle badly formed
legacy documents.

<H3>Permitted Attributes for the OL Element</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of the
current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left
and the most specific on the right, where classes are separated by a
period. The CLASS attribute is most commonly used to attach a
different style to some element, but it is recommended that where
practical class names should be picked on the basis of the element's
semantics, as this will permit other uses, such as restricting search
through documents by matching on element class names. The  conventions
for choosing class names are outside the scope of this specification.

<DT>CLEAR <DD>This attribute is common to all block-like elements. When
text flows around a figure or table in the margin, you sometimes want
to start an element like a header, paragraph or list below the figure
rather than alongside it. The CLEAR attribute allows you to move down
unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the element alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

<DT>CONTINUE <DD>Don't restart the sequence number, i.e. continue where
previous list left off, e.g. <tt>&lt;OL CONTINUE&gt;</tt>

<DT>SEQNUM <DD>Set the starting sequence number for the first item, e.g.
<tt>&lt;OL SEQNUM=23&gt;</tt>

<DT>COMPACT <DD>The presence of this attribute indicates the user agent
should use reduced interitem spacing. In practice, there are several ways
to increase the compactness of lists: reduced vertical interitem spacing,
smaller font size, or even to avoid line breaks between items. This is
best handled through associated style sheets and the class attribute.

</DL>
<!--NewPage-->
