<TITLE>Table Rows</TITLE>
<H1>Table Rows</H1>

<B>Permitted Context:</B> TABLE<BR>
<B>Content Model:</B> <a href="tablecells.html">Table Cells</a>
(TH or TD)

<P>The TR element acts as a container for a row of table cells defined
with the TH or TD elements. You can set default horizontal and vertical
alignment of cell contents for the row. You also have the ability to
disable word wrap for the row, and thereafter use the &lt;BR&gt; element
to determine line breaks and hence cell widths.

<P>To assist with formatting tables to paged media, authors can
differentiate leading and trailing rows that are to be duplicated when
splitting tables across page boundaries. The recommended approach is to
subclass rows using the CLASS attribute For example:

<pre>    &lt;TABLE BORDER COLSPEC= <i>...</i>&gt;
      &lt;TR CLASS=Header&gt; <i>header cells ...</i>
      &lt;TR CLASS=Body&gt;   <i>body cells ...</i>
      &lt;TR CLASS=Footer&gt; <i>footer cells ...</i>
    &lt;/TABLE&gt;
</pre>

<P>Paged browsers when splitting a table across a page boundary, can then
insert footer rows at the bottom of the current page and header rows at
the top of the next page, followed by the remaining body rows, and the
footer rows. This is repeated as necessary until all of the body rows
have been rendered. Refinements of this scheme can be devised by further
subclassing the rows together with an appropriate style sheet.

<H3>Permitted Attributes for the TR Element</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of
the current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left
and the most specific on the right, where classes are separated by a
period. The CLASS attribute is most commonly used to attach a
different style to some element, but it is recommended that where
practical class names should be picked on the basis of the element's
semantics, as this will permit other uses, such as restricting search
through documents by matching on element class names. The  conventions
for choosing class names are outside the scope of this specification.

<DT>ALIGN <DD>The ALIGN attribute can be used to explicitly specify
the horizontal alignment of paragraphs within a table row:<BR><BR>

<dl> <dt>align=left <dd>Paragraphs are rendered flush left.

<dt>align=center <dd>Paragraphs are centered.

<dt>align=right <dd>Paragraphs are rendered flush right.

<dt>align=justify <dd>Text lines are justified where practical,
otherwise this gives the same effect as the <tt>align=left</tt> setting.

<dt>align=decimal <dd>Text lines are indented such that the first
occurrence of a decimal point on each line are aligned vertically. If a
line doesn't contain a decimal point, the line is rendered flush left
for data cells and centered for header cells.
</dl>

<P><B>Note:</B> By default, header cells are centered while data cells
are flush left. This attribute can be used to alter these defaults on a row
by row basis. If you are specifying column alignments with the TABLE's
COLSPEC attribute, there is no point in also including an ALIGN attribute
with the TR element, as the latter will be ignored.

<DT>DP <DD>This specifies the character to be used for the decimal
point with the ALIGN attribute, e.g. dp="." (the default) or dp=",".
The default may be altered by the language context, as set by the LANG
attribute on enclosing elements.

<DT>VALIGN <DD>The VALIGN attribute can be used to explicitly specify
the vertical alignment of material within a table row. It is overridden
by the VALIGN attribute on individual cells:<BR><BR>

<dl> <dt>valign=top <dd>The cell contents appear at the top of each cell
(the default).

<dt>valign=middle <dd>Cell contents are centered vertically in each cell.

<dt>valign=bottom <dd>The cell contents appear at the bottom of each
cell.

<dt>valign=baseline <dd>This is used when you want to ensure that all
cells in the row share the same baseline. This constraint only applies
to the first text line for each cell.

</dl>

<DT>NOWRAP <DD>The NOWRAP attribute is used when you don't want the
browser to automatically wrap lines. You can then explicitly specify
line breaks in paragrphs using the BR element.


</DL>
<!--NewPage-->
