<TITLE>Definition Lists</TITLE> <H1>DD - Term Definition</H1>

<B>Permitted Context:</B> DL<BR>
<B>Content Model:</B> %flow

<P>The DD tag element specifies a term definition, and follows one or
more DT elements.

<P><B>Note:</B> The content model for term definitions is quite broad,
including paragraphs, lists, performatted text, forms, tables, figures
and admonishments. Headers are not permitted, although implementors of
HTML 3.0 user agents are advised to cater for this possibility in order
to handle badly formed legacy documents. If %html.recommended is
active, the HTML 3.0 DTD expects you to enclose plain text in a block
element such as &lt;P&gt;

<H3>Permitted Attributes for the DD Element</h3>

<DL> <DT>ID <DD>An SGML identifier used as the target for hypertext
links or for naming particular elements in associated style sheets.
Identifiers are NAME tokens and must be unique within the scope of
the current document.

<DT>LANG <DD>This is one of the ISO standard language abbreviations,
e.g. "en.uk" for the variation of English spoken in the United Kingdom.
It can be used by parsers to select language specific choices for
quotation marks, ligatures and hypenation rules etc. The language
attribute is composed from the two letter language code from ISO 639,
optionally followed by a period and a two letter country code from ISO
3166.

<DT>CLASS <DD>This a space separated list of SGML NAME tokens and is
used to subclass tag names. By convention, the class names are
interpreted hierarchically, with the most general class on the left
and the most specific on the right, where classes are separated by a
period. The CLASS attribute is most commonly used to attach a
different style to some element, but it is recommended that where
practical class names should be picked on the basis of the element's
semantics, as this will permit other uses, such as restricting search
through documents by matching on element class names. The  conventions
for choosing class names are outside the scope of this specification.

<DT>CLEAR <DD>When text flows around a figure or table in the margin,
you sometimes want to start term definition below the figure rather
than alongside it. The CLEAR attribute allows you to move down
unconditionally:<BR><BR>

<DL>
<DT>clear=left<DD>move down until left margin is clear
<DT>clear=right<DD>move down until right margin is clear
<DT>clear=all<DD>move down until both margins are clear
</DL>

<P>Alternatively, you can decide to place the element alongside the
figure just so long as there is enough room. The minimum width needed
is specified as:<BR><BR>

<DL>
<DT>clear="40 en"<DD>move down until there is at least 40 en units free
<DT>clear="100 pixels"<DD>move down until there is at least 100 pixels
free
</DL>

<P>The style sheet (or browser defaults) may provide default minimum
widths for each class of block-like elements.

</DL>
<!--NewPage-->
