<TITLE>HTML Math</TITLE>
<H1>VEC, BAR, DOT, DDOT, HAT and TILDE</H1>

<B>Permitted Context:</B> %math<BR>
<B>Content Model:</B> %math

<P>These elements place an accent above the term enclosed by the element.
<i>VEC</i> draws a right arrow above the term; <i>BAR</i> draws a line;
<i>DOT</i> and <i>DDOT</i> draw a single and double dot respectively;
<i>HAT</i> and <i>TILDE</i> draw the corresponding character above the
term, for example:

<pre>                            ^
    &lt;HAT&gt;X&lt;/HAT&gt;   giving   X
    
                                ~
    &lt;TILDE&gt;X&lt;/TILDE&gt;   giving   X</pre>

<P><B>Note:</B> there are no attributes for these elements.

<!--NewPage-->
