> ###############################################################
> # The master template for the arbitrary dimension array types #
> #                                                             #
> # $Header: /users/rcs/mathsrc/array.htm,v 1.13 1993/09/19 15:18:58 alv Exp $
> #                                                             #
> # All the array header files are obtained using this          #
> # template file as fodder for mathpp.                         #
> #                                                             #
> # Copyright (1991) by Rogue Wave Associates.  This software   #
> # is subject to copyright protection under the laws of the    #
> # United States and other countries.                          #
> #                                                             #
> # Limited License.                                            #
> ###############################################################
> #
> # $Log: array.htm,v $
> # Revision 1.13  1993/09/19  15:18:58  alv
> # added cast in defn of op+ for xlC
> #
> # Revision 1.12  1993/09/17  18:42:21  alv
> # (0) -> ((int)0) for benefit of DEC compiler
> #
> # Revision 1.11  1993/09/17  18:13:41  alv
> # added RWRand& constructor
> #
> # Revision 1.10  1993/09/16  17:14:59  alv
> # added norm functions
> #
> # Revision 1.9  1993/09/01  16:23:16  alv
> # now uses rwUninitialized form for simple constructors
> #
> # Revision 1.8  1993/08/17  18:30:35  alv
> # now allows use of custom RWBlocks
> #
> # Revision 1.7  1993/08/05  20:56:51  dealys
> # ported to MPW C++ 3.3
> #
> # Revision 1.6  1993/03/22  15:51:31  alv
> # changed PVCS Workfile keyword to RCS ID keyword
> #
> # Revision 1.5  1993/03/12  21:09:58  alv
> # NO_INLINED_TEMP_DESTRUCTORS -> RW_NO_INLINED_TEMP_DESTRUCTORS
> #
> # Revision 1.4  1993/03/04  18:57:38  alv
> # changed char* ctor to const char*
> #
> # Revision 1.3  1993/01/29  18:52:53  alv
> # added defn for - ops for UChar
> #
> # Revision 1.2  1993/01/28  16:32:58  alv
> # UChar types no longer calculate v-s via v+(-s)
> #
> # Revision 1.1  1993/01/22  23:51:10  alv
> # Initial revision
> #
> # 
>
> # Set up the <T>,<P>,... macros
>
> define <ClassType>=Array
> include macros
>
>
> # The traditional top of the file stuff
>
>
#ifndef __RW<A>ARR_H__
#define __RW<A>ARR_H__

/*
 * Declarations for <T> precision arrays
 *
 * Generated from template $Id: array.htm,v 1.13 1993/09/19 15:18:58 alv Exp $
 *
 ****************************************************************************
 *
 * Source code available!  Call or write:
 *
 * Rogue Wave
 * P.O. Box 2328
 * Corvallis, OR 97339
 * Voice: (503) 754-2311        FAX: (503) 757-7350
 *
 * Copyright (C) 1988, 1989, 1990, 1991.  This software is subject to copyright
 * protection under the laws of the United States and other countries.
 *
 ***************************************************************************
 *
 * Right now, functions are only provided for easy indexing up to 4D.
 * Beyond this, you need to use the general functions (ie with IntVecs).
 * It would be easy to add 5D or higher functions if need be, except that
 * the op() functions would go through a combinatorial explosion.  As 
 * long as you are content to always get back an Array, and not explicitly
 * a Vec or GenMat as the case may be, then this explosion can be avoided.
 */

/*
 * Defining the preprocessor directive RWBOUNDS_CHECK will
 * cause bounds checking on the slice function, subscripting operators
 * and inlined math functions.
 *
 * Bounds checking is always done on subscripting operators returning
 * anything other than a <t> or <t>&.
 */

> if <C>==DComplexArray
#include "rw/darr.h"
#include "rw/dcomplex.h"
> elif <C>==FComplexArray
#include "rw/farr.h"
#include "rw/fcomplex.h"
> elif <C>==DoubleArray
class DComplexArray;
> endif
#include "rw/igenmat.h"
#include "rw/array.h"

class RWRand;

class <C> : public RWArrayView {
private:
> cols 4 0 48
    <C>(const RWDataView&, <t>*, const IntVec&, const IntVec&);  // For real() and imag() and slices
> if <C>==DoubleArray
    friend <C>  real(const <A>ComplexArray&);
    friend <C>  imag(const <A>ComplexArray&);
> endif

> nocols
public:

    /****************
     * Constructors *
     ****************/

> cols 4 0 48
    <C>();                                      // Declares a scalar (0D array)
    <C>(const IntVec&, RWUninitialized, Storage=COLUMN_MAJOR);
    <C>(unsigned,unsigned,unsigned,RWUninitialized);
    <C>(unsigned,unsigned,unsigned,unsigned,RWUninitialized);
    <C>(const IntVec&, RWRand&, Storage=COLUMN_MAJOR);
    <C>(unsigned,unsigned,unsigned,RWRand&);
    <C>(unsigned,unsigned,unsigned,unsigned,RWRand&);
    <C>(const IntVec& n, <t> val);
    <C>(unsigned,unsigned,unsigned, <t> val);
    <C>(unsigned,unsigned,unsigned,unsigned, <t> val);
    <C>(const char *);
    <C>(const <C>& a);
    <C>(const <t>* dat, const IntVec& n);       // Copy of dat will be made
    <C>(const <t>* dat, unsigned,unsigned,unsigned);
    <C>(const <t>* dat, unsigned,unsigned,unsigned,unsigned);
    <C>(const <T>Vec& vec, const IntVec& n);    // View of dat will be taken
    <C>(const <T>Vec& vec, unsigned,unsigned,unsigned);
    <C>(const <T>Vec& vec, unsigned,unsigned,unsigned,unsigned);
    <C>(RWBlock *block, const IntVec& n);       // Use a custom block for the data
    <C>(RWBlock *block, unsigned,unsigned,unsigned);
    <C>(RWBlock *block, unsigned,unsigned,unsigned,unsigned);
    <C>(const <T>Vec&);                         // View will be taken
    <C>(const <T>GenMat&);                      // View will be taken
> if <R/C>==Complex
    <C>(const <P>Array& re);                    // Conversion from <P>Array
    <C>(const <P>Array& re, const <P>Array& im);
> endif

> # Conversion operators
> if <C>==IntArray || <C>==FloatArray
    operator DoubleArray() const;               // Conversion to DoubleArray
> elif <C>==SCharArray || <C>==UCharArray
    operator IntArray() const;                  // Convert to IntArray
> endif

    /********************
     * Member functions *
     ********************/

> cols 18 40 49
> if <R/C>==Complex
    <C>           apply(<A>mathFunTy)   const;
    <P>Array      apply2(<A>mathFunTy2) const;
> else
    <C>           apply(mathFunTy)      const;
#ifdef RW_NATIVE_EXTENDED
    <C>           apply(XmathFunTy)     const;
#endif	
> endif
    unsigned      binaryStoreSize()     const;   // Storage requirements
    <C>           copy()                const;   // Copy with distinct instance variables
    <t>*          data()                         {return (<t>*)begin;}
    const <t>*    data()                const    {return (<t>*)begin;}
    <C>           deepCopy()            const;   // Copy with distinct instance variables 
    void          deepenShallowCopy();           // Insures only 1 ref and data is compact
//  unsigned      dimension()           const    {return npts.length();}
//  const IntVec& length()              const    {return npts;}
//  int           length(int i)         const    {return npts(i);}
    void          printOn(ostream& s)   const;   // Pretty print
    <C>&          reference(const <C>& v);       // Reference self to v
    void          resize(const IntVec&);         // Will pad with zeroes if necessary
    void          resize(unsigned,unsigned,unsigned);
    void          resize(unsigned,unsigned,unsigned,unsigned);
    void          reshape(const IntVec&);        // Contents after reshape are garbage
    void          reshape(unsigned,unsigned,unsigned);
    void          reshape(unsigned,unsigned,unsigned,unsigned);
    void          restoreFrom(RWFile&);          // Restore from binary
    void          restoreFrom(RWvistream&);      // Restore from virtual stream
    void          saveOn(RWFile&)       const;   // Store using binary
    void          saveOn(RWvostream&)   const;   // Store to virtual stream
    void          scanFrom(istream& s);          // Read to eof or delimit with []
    <C>           slice(const IntVec& start, const IntVec& lgt, const IntGenMat& strider) const;
//  const IntVec& stride()              const    {return step;}
//  int           stride(int i)         const    {return step(i);}

    /********************
     * Member operators *
     ********************/

> # I set the width of the second col to 0 because operator()() screws
> # up the heuristic which determines what goes in what column
> cols 20 0 48
    <t>&            operator[](const IntVec& i);    // With bounds checking
    <t>             operator[](const IntVec& i) const;
    <t>&            operator()(const IntVec& i);    // With optional bounds checking
    <t>             operator()(const IntVec& i) const;
    <t>&            operator()(int,int,int);
    <t>             operator()(int,int,int) const;
    <t>&            operator()(int,int,int,int);
    <t>             operator()(int,int,int,int) const;
    <T>Vec          operator()(const RWSlice&,int,int);
    const <T>Vec    operator()(const RWSlice&,int,int) const;
    <T>Vec          operator()(int,const RWSlice&,int);
    const <T>Vec    operator()(int,const RWSlice&,int) const;
    <T>Vec          operator()(int,int,const RWSlice&);
    const <T>Vec    operator()(int,int,const RWSlice&) const;
    <T>Vec          operator()(const RWSlice&,int,int,int);
    const <T>Vec    operator()(const RWSlice&,int,int,int) const;
    <T>Vec          operator()(int,const RWSlice&,int,int);
    const <T>Vec    operator()(int,const RWSlice&,int,int) const;
    <T>Vec          operator()(int,int,const RWSlice&,int);
    const <T>Vec    operator()(int,int,const RWSlice&,int) const;
    <T>Vec          operator()(int,int,int,const RWSlice&);
    const <T>Vec    operator()(int,int,int,const RWSlice&) const;
    <T>GenMat       operator()(int,const RWSlice&,const RWSlice&);
    const <T>GenMat operator()(int,const RWSlice&,const RWSlice&) const;
    <T>GenMat       operator()(const RWSlice&,int,const RWSlice&);
    const <T>GenMat operator()(const RWSlice&,int,const RWSlice&) const;
    <T>GenMat       operator()(const RWSlice&,const RWSlice&,int);
    const <T>GenMat operator()(const RWSlice&,const RWSlice&,int) const;
    <T>GenMat       operator()(int,int,const RWSlice&,const RWSlice&);
    const <T>GenMat operator()(int,int,const RWSlice&,const RWSlice&) const;
    <T>GenMat       operator()(int,const RWSlice&,int,const RWSlice&);
    const <T>GenMat operator()(int,const RWSlice&,int,const RWSlice&) const;
    <T>GenMat       operator()(int,const RWSlice&,const RWSlice&,int);
    const <T>GenMat operator()(int,const RWSlice&,const RWSlice&,int) const;
    <T>GenMat       operator()(const RWSlice&,int,int,const RWSlice&);
    const <T>GenMat operator()(const RWSlice&,int,int,const RWSlice&) const;
    <T>GenMat       operator()(const RWSlice&,int,const RWSlice&,int);
    const <T>GenMat operator()(const RWSlice&,int,const RWSlice&,int) const;
    <T>GenMat       operator()(const RWSlice&,const RWSlice&,int,int);
    const <T>GenMat operator()(const RWSlice&,const RWSlice&,int,int) const;
    <T>Array        operator()(const RWSlice&,const RWSlice&,const RWSlice&);
    const <T>Array  operator()(const RWSlice&,const RWSlice&,const RWSlice&) const;
    <T>Array        operator()(int,const RWSlice&,const RWSlice&,const RWSlice&);
    const <T>Array  operator()(int,const RWSlice&,const RWSlice&,const RWSlice&) const;
    <T>Array        operator()(const RWSlice&,int,const RWSlice&,const RWSlice&);
    const <T>Array  operator()(const RWSlice&,int,const RWSlice&,const RWSlice&) const;
    <T>Array        operator()(const RWSlice&,const RWSlice&,int,const RWSlice&);
    const <T>Array  operator()(const RWSlice&,const RWSlice&,int,const RWSlice&) const;
    <T>Array        operator()(const RWSlice&,const RWSlice&,const RWSlice&,int);
    const <T>Array  operator()(const RWSlice&,const RWSlice&,const RWSlice&,int) const;
    <T>Array        operator()(const RWSlice&,const RWSlice&,const RWSlice&,const RWSlice&);
    const <T>Array  operator()(const RWSlice&,const RWSlice&,const RWSlice&,const RWSlice&) const;
> cols 16 40 48
    <C>&        operator=(const <C>& v);        // Must be same length as v
    <C>&        operator=(<t>);
    RWBoolean   operator==(const <C>&)   const;
    RWBoolean   operator!=(const <C>& v) const;
    <C>&        operator+=(<t>);
> if <t>==UChar
    <C>&        operator-=(<t> s);
> else
    <C>&        operator-=(<t> s)               { return operator+=(-s); }
> endif
    <C>&        operator*=(<t>);
> if <t>==double || <t>==float
    <C>&        operator/=(<t> s)               { return operator*=(1.0/s); }
> else
    <C>&        operator/=(<t> s);
> endif
    <C>&        operator+=(const <C>&);
    <C>&        operator-=(const <C>&);
    <C>&        operator*=(const <C>&);
    <C>&        operator/=(const <C>&);
> if <R/C>==Real
    <C>&        operator++();                   // Prefix operator
    <C>&        operator--();                   // Prefix operator
#if !defined(RW_NO_POSTFIX)
    void        operator++(int)                 { ++(*this); }  // Postfix operator
    void        operator--(int)                 { --(*this); }  // Postfix operator
#endif
> endif
> nocols

> if <R/C>==Complex
    friend <P>Array real(const <C>&);    // real and imag need access to the
    friend <P>Array imag(const <C>&);    // RWBlock, so they must be friends
> endif
    friend <t>       toScalar(const <C>&);    // For 0-D arrays
    friend <T>Vec    toVec(const <C>&);       // For 1-D arrays
    friend <T>GenMat toGenMat(const <C>&);    // For 2-D arrays
};
  
    /********************
     * Global Operators *
     ********************/

> cols 23 0 50
> if <T>!=UChar
           <C>         operator-(const <C>&);
> endif
    inline <C>         operator+(const <C>& v)          { return v; }
           <C>         operator+(const <C>&, const <C>&);
           <C>         operator-(const <C>&, const <C>&);
           <C>         operator*(const <C>&, const <C>&);
           <C>         operator/(const <C>&, const <C>&);
           <C>         operator+(const <C>&,<t>);
           <C>         operator+(<t>, const <C>&);
           <C>         operator-(const <C>&,<t>);
           <C>         operator-(<t>, const <C>&);
           <C>         operator*(const <C>&,<t>);
           <C>         operator*(<t>, const <C>&);
           <C>         operator/(const <C>&,<t>);
           <C>         operator/(<t>, const <C>&);
           ostream&    operator<<(ostream& s, const <C>& v);
           istream&    operator>>(istream& s, <C>& v);
#ifndef RW_NO_INLINED_TEMP_DESTRUCTORS
    inline <C>         operator*(<t> s, const <C>& V) {return V*s;}
    inline <C>         operator+(<t> s, const <C>& V) {return V+s;}
> if <T>!=UChar
    inline <C>         operator-(const <C>& V, <t> s) {return V+(<t>)(-s);}
> endif
> if <T>==Double || <T>==Float
    inline <C>         operator/(const <C>& V, <t> s) {return V*(1/s);}
>endif
#endif


    /********************
     * Global Functions *
     ********************/

    /**** Miscellaneous Functions ****/

> if <R/C>==Complex
           <P>Array    abs(const <C>& V);
> elif <C>==UCharArray
           // No abs() for UCharArray
> else
           <C>         abs(const <C>& V);
> endif
           <t>         dot(const <C>&,const <C>&); // Return sum_ij...k (Aij...k * Bij...k)
           <C>         dot(const <T>Vec&,const <C>&); // Return sum_i (Vi * Aij...k)
           <C>         dot(const <C>&,const <T>Vec&); // Return sum_k (Ai...jk * Vk)
> if <R/C>==Real
           IntVec      maxIndex(const <C>&);       // Returns *index* of max value
           <t>         maxValue(const <C>&);
           IntVec      minIndex(const <C>&);       // Returns *index* of min value
           <t>         minValue(const <C>&);
> endif
           <t>         prod(const <C>&);
           <t>         sum(const <C>&);

> if <P>==Float || <P>==Double

    /**** Functions for both real and complex ****/

           <C>         cos(const <C>& V);
           <C>         cosh(const <C>& V);
           <C>         exp(const <C>& V);
           <t>         mean(const <C>& V);
           <C>         pow(const <C>&,const <C>&);
           <C>         sin(const <C>& V);
           <C>         sinh(const <C>& V);
           <C>         sqrt(const <C>& V);
           <p>         variance(const <C>&);

> endif
> if <C>==DoubleArray || <C>==FloatArray

    /**** Functions for real arrays ****/

           <C>         acos(const <C>& V);
           <C>         asin(const <C>& V);
           <C>         atan(const <C>& V);
           <C>         atan2(const <C>&,const <C>&);
           <C>         ceil(const <C>& V);
           <C>         floor(const <C>& V);
           <C>         log(const <C>& V);
           <C>         log10(const <C>& V);
           <C>         tan(const <C>& V);
           <C>         tanh(const <C>& V);

> endif
> if <R/C>==Complex

    /**** Functions for complex arrays ****/

           <P>Array    arg(const <C>& V);
           <C>         conj(const <C>& V);
           <P>Array    imag(const <C>&);        // Returns reference to data
           <P>Array    norm(const <C>& V);
           <P>Array    real(const <C>&);        // Returns reference to data
> endif

    /**** Functions for type conversion ****/

> if <C>==SCharArray
           SCharArray  toChar(const IntArray&);
> elif <C>==FloatArray
           FloatArray  toFloat(const DoubleArray&);
> elif <C>==IntArray
           IntArray    toInt(const DoubleArray&);
           IntArray    toInt(const FloatArray&);
> else
           // No type conversion functions for <C>
> endif

    /**** Norm functions ****/
> if <T>==Double || <T>==Float || <T>==DComplex
           <P>         frobNorm(const <C>&); // Root of sum of squares
           <P>         maxNorm(const <C>&);  // Largest absolute value, not really a norm
> endif
> nocols

    /***************************
     * Inline Access Functions *
     ***************************/


  inline <t>& <C>::operator[](const IntVec& i) {
    boundsCheck(i);
    return data()[dot(i,step)];
  }

  inline <t> <C>::operator[](const IntVec& i) const {
    boundsCheck(i);
    return data()[dot(i,step)];
  }

  inline <t>& <C>::operator()(const IntVec& i) {
#  ifdef RWBOUNDS_CHECK    
    boundsCheck(i);
#  endif
    return data()[dot(i,step)];
  }

  inline <t> <C>::operator()(const IntVec& i) const {
#  ifdef RWBOUNDS_CHECK    
    boundsCheck(i);
#  endif
    return data()[dot(i,step)];
  }

  inline <t>& <C>::operator()(int i, int j, int k) {
#  ifdef RWBOUNDS_CHECK
    boundsCheck(i,j,k);
#  endif
    return data()[i*step((int)0)+j*step(1)+k*step(2)];
  }

  inline <t> <C>::operator()(int i, int j, int k) const {
#  ifdef RWBOUNDS_CHECK
    boundsCheck(i,j,k);
#  endif
    return data()[i*step((int)0)+j*step(1)+k*step(2)];
  }

  inline <t>& <C>::operator()(int i, int j, int k, int l) {
#  ifdef RWBOUNDS_CHECK
    boundsCheck(i,j,k,l);
#  endif
    return data()[i*step((int)0)+j*step(1)+k*step(2)+l*step(3)];
  }

  inline <t> <C>::operator()(int i, int j, int k, int l) const {
#  ifdef RWBOUNDS_CHECK
    boundsCheck(i,j,k,l);
#  endif
    return data()[i*step((int)0)+j*step(1)+k*step(2)+l*step(3)];
  }

#endif /*__RW<A>ARR_H__*/
