> ###############################################################
> # The master template for Matrix picks                        #
> #                                                             #
> # $Header: /users/rcs/mathsrc/genpik.htm,v 1.3 1993/03/22 15:51:31 alv Exp $
> #                                                             #
> # Copyright (1991) by Rogue Wave Associates.  This software   #
> # is subject to copyright protection under the laws of the    #
> # United States and other countries.                          #
> #                                                             #
> # Limited License.                                            #
> ###############################################################
> #
> # $Log: genpik.htm,v $
> # Revision 1.3  1993/03/22  15:51:31  alv
> # changed PVCS Workfile keyword to RCS ID keyword
> #
> # Revision 1.2  1993/03/18  19:42:34  alv
> # members rowpick,colpick no longer refs but actual objects.
> # this sidesteps a bug in g++
> #
> # Revision 1.1  1993/01/22  23:51:10  alv
> # Initial revision
> #
> # 
>
> # Set up the <T>,<P>,... macros
>
> define <ClassType>=GenMat
> include macros
>
>
> # The traditional top of the file stuff
>
>
#ifndef __<A>GENPIK_H__
#define __<A>GENPIK_H__

/*
 * Declarations for <C>Pick --- picks elements out of a <C>
 *
 * Generated from template $Id: genpik.htm,v 1.3 1993/03/22 15:51:31 alv Exp $
 *
 ****************************************************************************
 *
 * Source code available!  Call or write:
 *
 * Rogue Wave
 * P.O. Box 2328
 * Corvallis, OR 97339
 * Voice: (503) 754-2311        FAX: (503) 757-7350
 *
 * Copyright (C) 1988, 1989, 1990, 1991.  This software is subject to copyright
 * protection under the laws of the United States and other countries.
 *
 ***************************************************************************
 *
 */

#include "rw/ivec.h"

/*
 * The <C>Pick class allows selected elements to be addressed.
 * There are no public constructors.
 */

> cols 24 5 40
class <C>Pick {
friend class <C>;
private:
  <C>Pick(<C>&,const IntVec&,const IntVec&);
  <C>&             V;
  const IntVec     rowpick;
  const IntVec     colpick;
protected:         
  void             assertElements() const;
  void             lengthCheck(unsigned,unsigned) const;
public:            
  void             operator=(const <C>&);
  void             operator=(const <C>Pick&);
  void             operator=(<t>);
                   
  unsigned         rows() const    { return rowpick.length(); }
  unsigned         cols() const    { return colpick.length(); }
};
> nocols

/************************************************
 *                                              *
 *              I N L I N E S                   *
 *                                              *
 ************************************************/

inline
<C>Pick::<C>Pick(<C>& v, const IntVec& x, const IntVec& y) :
  V(v), rowpick(x), colpick(y)
{
#ifdef RWBOUNDS_CHECK
  assertElements();
#endif
}

#endif /*__<A>GENPIK_H__*/
