> ###############################################################
> # The master template for the general matrix types            #
> #                                                             #
> # $Header: /users/rcs/mathsrc/matrix.htm,v 1.17 1993/09/17 18:13:14 alv Exp $
> #                                                             #
> # All the matrix header files are obtained using this         #
> # template file as fodder for mathpp.                         #
> #                                                             #
> # Copyright (1991) by Rogue Wave Associates.  This software   #
> # is subject to copyright protection under the laws of the    #
> # United States and other countries.                          #
> #                                                             #
> # Limited License.                                            #
> ###############################################################
> #
> # $Log: matrix.htm,v $
> # Revision 1.17  1993/09/17  18:13:14  alv
> # added RWRand& constructor
> #
> # Revision 1.16  1993/09/16  17:33:46  alv
> # corrected typos pointed out by Allan Klumpp
> #
> # Revision 1.15  1993/09/16  17:14:59  alv
> # added norm functions
> #
> # Revision 1.14  1993/09/01  16:27:27  alv
> # now uses rwUninitialized form for simple constructors
> #
> # Revision 1.13  1993/08/25  23:08:34  alv
> # added adjoint()
> #
> # Revision 1.12  1993/08/19  15:01:50  alv
> # added operator% to mean inner product
> #
> # Revision 1.11  1993/08/17  19:02:00  alv
> # now allows use of custom RWBlocks
> #
> # Revision 1.10  1993/08/05  21:11:44  dealys
> # ported to MPW C++ 3.3
> #
> # Revision 1.9  1993/05/10  18:25:47  alv
> # removed implicit use of double->complex ctor for Zortech
> #
> # Revision 1.8  1993/05/10  18:14:25  alv
> # ported to Zortech 3.1
> #
> # Revision 1.7  1993/03/22  15:51:31  alv
> # changed PVCS Workfile keyword to RCS ID keyword
> #
> # Revision 1.6  1993/03/12  21:09:58  alv
> # NO_INLINED_TEMP_DESTRUCTORS -> RW_NO_INLINED_TEMP_DESTRUCTORS
> #
> # Revision 1.5  1993/03/04  18:57:38  alv
> # changed char* ctor to const char*
> #
> # Revision 1.4  1993/01/29  18:52:53  alv
> # added defn for - ops for UChar
> #
> # Revision 1.3  1993/01/28  18:45:56  alv
> # added an explicit cast to make msc happy
> #
> # Revision 1.2  1993/01/28  16:32:58  alv
> # UChar types no longer calculate v-s via v+(-s)
> #
> # Revision 1.1  1993/01/22  23:51:10  alv
> # Initial revision
> #
> #
>
> # Set up the <T>,<P>,... macros
>
> define <ClassType>=GenMat
> include macros
>
>
> # The traditional top of the file stuff
>
>
#ifndef __RW<A>GENMAT_H__
#define __RW<A>GENMAT_H__

/*
 * Declarations for <T> precision matrices
 *
 * Generated from template $Id: matrix.htm,v 1.17 1993/09/17 18:13:14 alv Exp $
 *
 ****************************************************************************
 *
 * Source code available!  Call or write:
 *
 * Rogue Wave
 * P.O. Box 2328
 * Corvallis, OR 97339
 * Voice: (503) 754-3010
 *
 * Copyright (C) 1988, 1989, 1990, 1991, 1993.
 * This software is subject to copyright protection under the laws
 * of the United States and other countries.
 *
 ***************************************************************************
 *
 */

/*
 * Defining the preprocessor directive RWBOUNDS_CHECK will
 * cause bounds checking on the subscripting operators
 * and inlined math functions.
 */

> if <C>==DComplexGenMat
#include "rw/dgenmat.h"
#include "rw/dcomplex.h"
> elif <C>==FComplexGenMat
#include "rw/fgenmat.h"
#include "rw/fcomplex.h"
> endif
#include "rw/matrix.h"
#include "rw/<a>vec.h"

class <C>Pick;
class RWRand;
> if <T>!=Int && <T>!=SChar && <T>!=UChar
> cols 0 0 32
class <T>SymMat;                // So that the conversion constructors 
class <T>SkewMat;               // to matrix.h++ classes parse successfully
>  if <R/C>==Complex             
class <T>HermMat;
class <T>HermBandMat;
>  endif
class <T>BandMat;
class <T>SymBandMat;
class <T>UpperTriMat;
class <T>LowerTriMat;
class <T>TriDiagMat;
> nocols
> endif

class <C> : public RWMatView {
private:
> cols 4 0 48
    <C>(const RWDataView&, <t>*, unsigned,unsigned, int,int);      // For internal use
    friend <C> toGenMat(const <T>Array&);
    friend class <T>Array;                      // For conversion constructor
> if <T>==Double
    friend <C>  real(const <A>ComplexGenMat&);
    friend <C>  imag(const <A>ComplexGenMat&);
> endif

    /*****************************
     * Routines for internal use *
     *****************************/

    /* These slice functions dispense with bounds checking for speed */
    <T>Vec     fastSlice(int starti, int startj, unsigned n, int rowstride, int colstride) const;
    <C>        fastSlice(int starti, int startj, unsigned m, unsigned n, int rowstr1, int colstr1, int rowstr2, int colstr2) const;

public:

    /****************
     * Constructors *
     ****************/

    <C>()                                       : RWMatView() {}
#ifdef RW_ALLOW_OLD_ARRAY_CONSTRUCTORS
    <C>(unsigned m, unsigned n, Storage s=COLUMN_MAJOR) : RWMatView(m,n,sizeof(<t>),s) {}
#endif
    <C>(unsigned m, unsigned n, RWUninitialized, Storage s=COLUMN_MAJOR) : RWMatView(m,n,sizeof(<t>),s) {}
    <C>(unsigned m, unsigned n, RWRand&);
    <C>(unsigned m, unsigned n, <t> val);
    <C>(const char *);
    <C>(const <C>& a)                           : RWMatView((const RWMatView&)a) {}  // cast needed by Zortech 3.1
    <C>(const <C>Pick& p);
    <C>(const <t>* dat, unsigned,unsigned,Storage=COLUMN_MAJOR);   // Copy of dat will be made
    <C>(const <T>Vec& vec, unsigned,unsigned,Storage=COLUMN_MAJOR);// View of vec will be taken
    <C>(RWBlock *block,    unsigned,unsigned,Storage=COLUMN_MAJOR);// Use a custom block for the data
> if <R/C>==Complex
    <C>(const <P>GenMat& re);                   // Conversion from <P>GenMat
    <C>(const <P>GenMat& re, const <P>GenMat& im);
> endif

> if <T>!=Int && <T>!=SChar && <T>!=UChar
    <C>(const <T>SymMat& A);                    // Conversion to the matrix
    <C>(const <T>SkewMat& A);                   // types in matrix.h++.
>  if <R/C>==Complex             
    <C>(const <T>HermMat& A);
    <C>(const <T>HermBandMat& A);
>  endif
    <C>(const <T>BandMat& A);
    <C>(const <T>SymBandMat& A);
    <C>(const <T>UpperTriMat& A);
    <C>(const <T>LowerTriMat& A);
    <C>(const <T>TriDiagMat& A);
> endif


> # Conversion operators
> if <C>==IntGenMat || <C>==FloatGenMat
    operator DoubleGenMat() const;              // Conversion to DoubleGenMat
> elif <C>==SCharGenMat || <C>==UCharGenMat
    operator IntGenMat() const;                 // Convert to IntGenMat
> endif

    /********************
     * Member functions *
     ********************/

> cols 15 37 48
> if <R/C>==Complex
    <C>        apply(<A>mathFunTy)   const;
    <P>GenMat  apply2(<A>mathFunTy2) const;
> else
    <C>        apply(mathFunTy)      const;
#ifdef RW_NATIVE_EXTENDED
    <C>        apply(XmathFunTy)     const;
#endif
> endif
    <t>&       bcref(int i, int j);             // ref() with bounds checking: for matrix.h++ compatability
    void       bcset(int i, int j, <t> x);      // set() with bounds checking: for matrix.h++ compatability
    <t>        bcval(int i, int j)   const;     // val() with bounds checking: for matrix.h++ compatability
    unsigned   binaryStoreSize()     const;     // Storage requirements
    const <T>Vec col(int)            const;     // Returns a view of a column
    <T>Vec     col(int);                        // Returns a view of a column
//  unsigned   cols()                const      // Number of columns
//  int        colStride()           const      // Step from one column to the next
    <C>        copy(Storage s=COLUMN_MAJOR)const;//Copy with distinct instance variables
    <t>*       data()                           {return (<t>*)begin;}
    const <t>* data()                const      {return (<t>*)begin;}
    <C>        deepCopy(Storage s=COLUMN_MAJOR)const;//Copy with distinct instance variables
    void       deepenShallowCopy(Storage s=COLUMN_MAJOR); // Ensures only 1 reference to data
    const <T>Vec diagonal(int =0)    const;     // Returns a view of a diagonal
    <T>Vec     diagonal(int =0);                // Returns a view of a diagonal
    <C>Pick    pick(const IntVec&, const IntVec&); // Return the "picked" elements
    const <C>Pick pick(const IntVec&, const IntVec&) const; // Return the "picked" elements
    void       printOn(ostream& s)   const;     // Pretty print
    <t>&       ref(int i, int j);               // for matrix.h++ compatability
    <C>&       reference(const <C>& v);         // Reference self to v
    void       resize(unsigned,unsigned);       // Will pad with zeroes if necessary
    void       reshape(unsigned,unsigned,Storage s=COLUMN_MAJOR); // Contents after reshape are garbage
    void       restoreFrom(RWFile&);            // Restore from binary
    void       restoreFrom(RWvistream&);        // Restore from virtual stream
    const <T>Vec row(int)            const;     // Returns a view of a row
    <T>Vec     row(int);                        // Returns a view of a row
//  unsigned   rows()                const      // Number of rows
//  int        rowStride()           const      // Step from one row to the next
    void       saveOn(RWFile&)       const;     // Store using binary
    void       saveOn(RWvostream&)   const;     // Store to virtual stream
    void       scanFrom(istream& s);            // Read to eof or delimit with []
    void       set(int i, int j, <t> x);        // for matrix.h++ compatability 
    <T>Vec     slice(int starti, int startj, unsigned n, int rowstride, int colstride) const;
    <C>        slice(int starti, int startj, unsigned m, unsigned n, int rowstr1, int colstr1, int rowstr2, int colstr2) const;
    <t>        val(int i, int j)     const;     // for matrix.h++ compatability
> if <R/C>==Complex
    void       zero()                           {(*this)=<t>(0,0);}      // for matrix.h++ compatability
> else
    void       zero()                           {(*this)=(<t>)0;}      // for matrix.h++ compatability
> endif


    /********************
     * Member operators *
     ********************/

> # I set the width of the second col to 0 because operator()() screws
> # up the heuristic which determines what goes in what column
> cols 25 0 48
    <t>&         operator()(int,int);           
    <t>          operator()(int,int)                        const;
    <T>Vec       operator()(int, const RWSlice&);
    const <T>Vec operator()(int, const RWSlice&)            const;
    <T>Vec       operator()(const RWSlice&, int);
    const <T>Vec operator()(const RWSlice&, int)            const;
    <C>          operator()(const RWSlice&, const RWSlice&);
    const <C>    operator()(const RWSlice&, const RWSlice&) const;
> cols 16 40 48
    <C>&        operator=(const <C>& v);        // Must be same size as v
    <C>&        operator=(const <C>Pick&);
    <C>&        operator=(<t>);
    RWBoolean   operator==(const <C>&)   const;
    RWBoolean   operator!=(const <C>& v) const;
    <C>&        operator+=(<t>);
> if <t>==UChar
    <C>&        operator-=(<t> s);
> else
    <C>&        operator-=(<t> s)               { return operator+=(-s); }
> endif
    <C>&        operator*=(<t>);
> if <t>==double || <t>==float
    <C>&        operator/=(<t> s)               { return operator*=(1.0/s); }
> else
    <C>&        operator/=(<t>);
> endif
    <C>&        operator+=(const <C>&);
    <C>&        operator-=(const <C>&);
    <C>&        operator*=(const <C>&);
    <C>&        operator/=(const <C>&);
> if <R/C>==Real
    <C>&        operator++();                   // Prefix operator
    <C>&        operator--();                   // Prefix operator
#if !defined(RW_NO_POSTFIX)
    void        operator++(int)                 { ++(*this); }  // Postfix operator
    void        operator--(int)                 { --(*this); }  // Postfix operator
#endif
> endif
> nocols

> if <R/C>==Complex
    friend <P>GenMat real(const <C>&);    // real and imag need access to the
    friend <P>GenMat imag(const <C>&);    // RWBlock, so they must be friends
> endif
};
  
    /********************
     * Global Operators *
     ********************/

> cols 23 0 50
> if <T>!=UChar
           <C>         operator-(const <C>&);
> endif
    inline <C>         operator+(const <C>& v)  { return v; }
           <C>         operator+(const <C>&, const <C>&);
           <C>         operator-(const <C>&, const <C>&);
           <C>         operator*(const <C>&, const <C>&);
           <C>         operator/(const <C>&, const <C>&);
// The % operator used for inner products.  These definitions are
// postponed until after product() has been declared
//  inline <C>         operator%(const <C>& A, const <C>& B) {return product(A,B);}
//  inline <T>Vec      operator%(const <C>& A, const <T>Vec& x) {return product(A,x);}
//  inline <T>Vec      operator%(const <T>Vec& x, const <C>& A) {return product(x,A);}
           <C>         operator+(const <C>&,<t>);
           <C>         operator+(<t>, const <C>&);
           <C>         operator-(const <C>&,<t>);
           <C>         operator-(<t>, const <C>&);
           <C>         operator*(const <C>&,<t>);
           <C>         operator*(<t>, const <C>&);
           <C>         operator/(const <C>&,<t>);
           <C>         operator/(<t>, const <C>&);
           ostream&    operator<<(ostream& s, const <C>& v);
           istream&    operator>>(istream& s, <C>& v);
#ifndef RW_NO_INLINED_TEMP_DESTRUCTORS
    inline <C>         operator*(<t> s, const <C>& V) {return V*s;}
    inline <C>         operator+(<t> s, const <C>& V) {return V+s;}
> if <T>!=UChar
    inline <C>         operator-(const <C>& V, <t> s) {return V+(<t>)(-s);}// cast makes microsoft happy when compiling sarr.cpp
> endif
> if <T>==Double || <T>==Float
    inline <C>         operator/(const <C>& V, <t> s) {return V*(1/s);}
> endif
#endif

    /********************
     * Global Functions *
     ********************/

    /**** Miscellaneous Functions ****/

> if <R/C>==Complex
           <P>GenMat   abs(const <C>& V);
> elif <C>==UCharGenMat
           // No abs() for UCharGenMat
> else
           <C>         abs(const <C>& V);
> endif
           <t>         dot(const <C>&,const <C>&); // Return sum_ij (Aij*Bij)
> if <R/C>==Real
           void        maxIndex(const <C>&, int *i, int *j);
           void        minIndex(const <C>&, int *i, int *j);
           <t>         maxValue(const <C>&);
           <t>         minValue(const <C>&);
> endif
           <t>         prod(const <C>&);
           <T>Vec      product(const <C>&, const <T>Vec&);
           <T>Vec      product(const <T>Vec&, const <C>&);
           <C>         product(const <C>&, const <C>&);
           <t>         sum(const <C>&);
           <C>         transpose(const <C>&);   // Transpose references this's data
> if <R/C>==Real
    inline <C>         adjoint(const <C>& A)    {return transpose(A);}
> endif
           <C>         transposeProduct(const <C>&,const <C>&);  // For matrix.h++ compatability
> if <R/C>==Complex
           <C>         conjTransposeProduct(const <C>&,const <C>&); // For matrix.h++ compatibility
> endif


> if <P>==Float || <P>==Double

    /**** Functions for both real and complex ****/

           <C>         cos(const <C>& V);
           <C>         cosh(const <C>& V);
           <C>         exp(const <C>& V);
           <t>         mean(const <C>& V);
           <C>         pow(const <C>&,const <C>&);
           <C>         sin(const <C>& V);
           <C>         sinh(const <C>& V);
           <C>         sqrt(const <C>& V);
           <p>         variance(const <C>&);

> endif
> if <C>==DoubleGenMat || <C>==FloatGenMat

    /**** Functions for real matrices ****/

           <C>         acos(const <C>& V);
           <C>         asin(const <C>& V);
           <C>         atan(const <C>& V);
           <C>         atan2(const <C>&,const <C>&);
           <C>         ceil(const <C>& V);
           <C>         floor(const <C>& V);
           <C>         log(const <C>& V);
           <C>         log10(const <C>& V);
           <C>         tan(const <C>& V);
           <C>         tanh(const <C>& V);

> endif
> if <R/C>==Complex

    /**** Functions for complex matrices ****/

           <P>GenMat   arg(const <C>& V);
           <C>         conj(const <C>& V);
           <P>GenMat   imag(const <C>&);        // Returns reference to data
           <P>GenMat   norm(const <C>& V);
           <P>GenMat   real(const <C>&);        // Returns reference to data
    inline <C>         adjoint(const <C>& A)    {return conj(transpose(A));}

> endif

    /**** Functions for type conversion ****/

> if <C>==SCharGenMat
           SCharGenMat toChar(const IntGenMat&);
> elif <C>==FloatGenMat
           FloatGenMat toFloat(const DoubleGenMat&);
> elif <C>==IntGenMat
           IntGenMat   toInt(const DoubleGenMat&);
           IntGenMat   toInt(const FloatGenMat&);
> else
           // No type conversion functions for <C>
> endif

    /**** Norm functions ****/
> if <T>==Double || <T>==Float || <T>==DComplex
           <P>         l1Norm(const <C>&);   // Largest column sum
	   <P>         linfNorm(const <C>&); // Largest row sum
           <P>         frobNorm(const <C>&); // Root of sum of squares
           <P>         maxNorm(const <C>&);  // Largest absolute value, not really a norm
> endif
> nocols

    /***************************
     * Inline Access Functions *
     ***************************/


  inline <t>& <C>::operator()(int i, int j) {
#  ifdef RWBOUNDS_CHECK    
    boundsCheck(i,j);
#  endif
    return data()[i*rowstep+j*colstep];
  }

  inline <t> <C>::operator()(int i, int j) const {
#  ifdef RWBOUNDS_CHECK    
    boundsCheck(i,j);
#  endif
    return data()[i*rowstep+j*colstep];
  }

  inline <T>Vec <C>::operator()(int i, const RWSlice& j) {
#  ifdef RWBOUNDS_CHECK
    rowBoundsCheck(i);
    j.boundsCheck(ncols);
#  endif
    return fastSlice(i,j.begin(),j.len(ncols),0,j.stride());
}

  inline const <T>Vec <C>::operator()(int i, const RWSlice& j) const {
#  ifdef RWBOUNDS_CHECK
    rowBoundsCheck(i);
    j.boundsCheck(ncols);
#  endif
    return fastSlice(i,j.begin(),j.len(ncols),0,j.stride());
}

  inline <T>Vec <C>::operator()(const RWSlice& i, int j) {
#  ifdef RWBOUNDS_CHECK
    colBoundsCheck(j);
    i.boundsCheck(nrows);
#  endif
    return fastSlice(i.begin(),j,i.len(nrows),i.stride(),0);
}

  inline const <T>Vec <C>::operator()(const RWSlice& i, int j) const {
#  ifdef RWBOUNDS_CHECK
    colBoundsCheck(j);
    i.boundsCheck(nrows);
#  endif
    return fastSlice(i.begin(),j,i.len(nrows),i.stride(),0);
}

  inline <C> <C>::operator()(const RWSlice& i, const RWSlice& j) {
#  ifdef RWBOUNDS_CHECK
    i.boundsCheck(nrows);
    j.boundsCheck(ncols);
#  endif
    return fastSlice(i.begin(),j.begin(),i.len(nrows),j.len(ncols),i.stride(),0,0,j.stride());
}

  inline const <C> <C>::operator()(const RWSlice& i, const RWSlice& j) const {
#  ifdef RWBOUNDS_CHECK
    i.boundsCheck(nrows);
    j.boundsCheck(ncols);
#  endif
    return fastSlice(i.begin(),j.begin(),i.len(nrows),j.len(ncols),i.stride(),0,0,j.stride());
}


// These next functions predate the nice subscripting mechanisms 
// available with the current math.h++

inline const <T>Vec <C>::col(int j) const { return (*this)(RWAll,j); }
inline       <T>Vec <C>::col(int j)       { return (*this)(RWAll,j); }
inline const <T>Vec <C>::row(int i) const { return (*this)(i,RWAll); }
inline       <T>Vec <C>::row(int i)       { return (*this)(i,RWAll); }


// The following functions are for compatability with the other matrix
// types provided by matrix.h++

  inline <t>& <C>::ref(int i, int j) {
    return (*this)(i,j);
  }

  inline void <C>::set(int i, int j, <t> x) {
    (*this)(i,j)=x;
  }

  inline <t> <C>::val(int i, int j) const {
    return (*this)(i,j);
  }

  inline <t>& <C>::bcref(int i, int j) {
    boundsCheck(i,j);
    return data()[i*rowstep+j*colstep];
  }

  inline void <C>::bcset(int i, int j, <t> x) {
    boundsCheck(i,j);
    data()[i*rowstep+j*colstep]=x;
  }

  inline <t> <C>::bcval(int i, int j) const {
    boundsCheck(i,j);
    return data()[i*rowstep+j*colstep];
  }


// Here are the definitions of operator% for inner products.  We
// had to postpone them because in the operator section product()
// was not yet declared.
inline <C>         operator%(const <C>& A, const <C>& B) {return product(A,B);}
inline <T>Vec      operator%(const <C>& A, const <T>Vec& x) {return product(A,x);}
inline <T>Vec      operator%(const <T>Vec& x, const <C>& A) {return product(x,A);}

#endif /* __RW<A>GENMAT_H__ */
