> ###############################################################
> # The master template for Vector picks                        #
> #                                                             #
> # $Header: /users/rcs/mathsrc/vecpik.htm,v 1.2 1993/03/22 15:51:31 alv Exp $
> #                                                             #
> # Copyright (1991) by Rogue Wave Associates.  This software   #
> # is subject to copyright protection under the laws of the    #
> # United States and other countries.                          #
> #                                                             #
> # Written by Tom Keffer.                                      #
> #                                                             #
> # Limited License.                                            #
> ###############################################################
> #
> # $Log: vecpik.htm,v $
> # Revision 1.2  1993/03/22  15:51:31  alv
> # changed PVCS Workfile keyword to RCS ID keyword
> #
> # Revision 1.1  1993/01/22  23:51:10  alv
> # Initial revision
> #
> # 
> #    Rev 1.5   24 Mar 1992 16:08:10   KEFFER
> # Changed from BOUNDS_CHECK to RWBOUNDS_CHECK
> # 
> #    Rev 1.4   17 Oct 1991 09:16:56   keffer
> # Changed include path to <rw/xxx.h>
> # 
> #    Rev 1.3   08 Oct 1991 13:44:42   keffer
> # Math V4.0 beta 2
> # 
> #    Rev 1.2   24 Jul 1991 13:25:02   keffer
> # Added pvcs keyword to appear in expanded template
> # 
> #    Rev 1.1   23 Jul 1991 12:56:10   keffer
> # Added PVCS keywords
>
> # Set up the <T>,<P>,... macros
>
> define <ClassType>=Vec
> include macros
>
>
> # The traditional top of the file stuff
>
>
#ifndef __RW<A>VECPIK_H__
#define __RW<A>VECPIK_H__

/*
 * Declarations for <C>Pick --- picks elements out of a <C>
 *
 * Generated from template $Id: vecpik.htm,v 1.2 1993/03/22 15:51:31 alv Exp $
 *
 ****************************************************************************
 *
 * Source code available!  Call or write:
 *
 * Rogue Wave
 * P.O. Box 2328
 * Corvallis, OR 97339
 * Voice: (503) 754-2311	FAX: (503) 757-7350
 *
 * Copyright (C) 1988, 1989, 1990, 1991.  This software is subject to copyright
 * protection under the laws of the United States and other countries.
 *
 ***************************************************************************
 *
 */

#include "rw/ivec.h"

/*
 * The <C>Pick class allows selected elements to be addressed.
 * There are no public constructors.
 */

class <C>Pick {
private:
  <C>		V;
  const IntVec		pick;
  <C>Pick(<C>& v, const IntVec& x);	// Constructor is private
  friend		<C>;
protected:
  void			assertElements() const;
  void			lengthCheck(unsigned) const;
public:
  void			operator=(const <C>&);
  void			operator=(const <C>Pick&);
  void			operator=(<t>);

  inline <t>&	operator()(int i);
  inline <t>		operator()(int i) const;
  unsigned		length() const	{ return pick.length(); }
};

/************************************************
 *						*
 *		I N L I N E S			*
 *						*
 ************************************************/

inline
<C>Pick::<C>Pick(<C>& v, const IntVec& x) :
  V(v), pick(x)
{
#ifdef RWBOUNDS_CHECK
  assertElements();
#endif
}

inline <t>& <C>Pick::operator()(int i)       { return V( pick(i) ); }
inline <t>  <C>Pick::operator()(int i) const { return V( pick(i) ); }

#endif /*__<A>VECPIK_H__*/
