> ###############################################################
> # The master template for the vector types                    #
> #                                                             #
> # $Header: /users/rcs/mathsrc/vector.htm,v 1.17 1993/09/17 18:13:14 alv Exp $
> #                                                             #
> # All the vector header files are obtained using this         #
> # template file as fodder for mathpp.                         #
> #                                                             #
> # Copyright (1991) by Rogue Wave Associates.  This software   #
> # is subject to copyright protection under the laws of the    #
> # United States and other countries.                          #
> #                                                             #
> # Written by Tom Keffer and Al Vermeulen.                     #
> #                                                             #
> # Limited License.                                            #
> ###############################################################
> #
> # $Log: vector.htm,v $
> # Revision 1.17  1993/09/17  18:13:14  alv
> # added RWRand& constructor
> #
> # Revision 1.16  1993/09/16  18:04:42  alv
> # added operator% for dot products
> #
> # Revision 1.15  1993/09/16  17:14:59  alv
> # added norm functions
> #
> # Revision 1.14  1993/09/01  16:27:46  alv
> # now uses rwUninitialized form for simple constructors
> #
> # Revision 1.13  1993/08/25  23:07:52  alv
> # removed obselete sub() function
> #
> # Revision 1.12  1993/08/18  22:17:01  alv
> # now allows custom RWBlocks
> #
> # Revision 1.11  1993/08/05  21:08:20  dealys
> # ported to MPW C++ 3.3
> #
> # Revision 1.10  1993/06/18  19:23:50  alv
> # removed reference to static numPerLine for multi-thread safety
> #
> # Revision 1.9  1993/05/10  18:14:25  alv
> # ported to Zortech 3.1
> #
> # Revision 1.8  1993/03/22  15:51:31  alv
> # changed PVCS Workfile keyword to RCS ID keyword
> #
> # Revision 1.7  1993/03/12  21:09:58  alv
> # NO_INLINED_TEMP_DESTRUCTORS -> RW_NO_INLINED_TEMP_DESTRUCTORS
> #
> # Revision 1.6  1993/03/04  18:57:38  alv
> # changed char* ctor to const char*
> #
> # Revision 1.5  1993/02/24  21:03:18  alv
> # fixed bug in subscripting inline functions
> #
> # Revision 1.4  1993/01/29  18:52:53  alv
> # added defn for - ops for UChar
> #
> # Revision 1.3  1993/01/28  18:45:56  alv
> # added an explicit cast to make msc happy
> #
> # Revision 1.2  1993/01/28  16:32:58  alv
> # UChar types no longer calculate v-s via v+(-s)
> #
> # Revision 1.1  1993/01/22  23:51:11  alv
> # Initial revision
> #
> # 
> #    Rev 1.3   03 Aug 1991 14:10:24   keffer
> # Distinguishes between postfix and prefix operator++() and operator--()
> # 
> #    Rev 1.2   24 Jul 1991 13:25:04   keffer
> # Added pvcs keyword to appear in expanded template
> # 
> #    Rev 1.1   23 Jul 1991 12:56:12   keffer
> # Added PVCS keywords
> #
>
> # Set up the <T>,<P>,... macros
>
> define <ClassType>=Vec
> include macros
>
>
> # The traditional top of the file stuff
>
>
#ifndef __RW<A>VEC_H__
#define __RW<A>VEC_H__

/*
 * Declarations for <T> precision vectors
 *
 * Generated from template $Id: vector.htm,v 1.17 1993/09/17 18:13:14 alv Exp $
 *
 ****************************************************************************
 *
 * Source code available!  Call or write:
 *
 * Rogue Wave
 * P.O. Box 2328
 * Corvallis, OR 97339
 * Voice: (503) 754-3010
 *                      
 * Copyright (C) 1988, 1989, 1990, 1991, 1993.
 * This software is subject to copyright protection under the
 * laws of the United States and other countries.
 *
 ***************************************************************************
 *
 */

/*
 * Defining the preprocessor directive RWBOUNDS_CHECK will
 * cause bounds checking on the subscripting operators.
 */

> if <C>==DComplexVec
#include "rw/dvec.h"
#include "rw/dcomplex.h"
> elif <C>==FComplexVec
#include "rw/fvec.h"
#include "rw/fcomplex.h"
> endif
#include "rw/rwslice.h"
#include "rw/vector.h"

class <C>Pick;
class RWRand;

class <C> : public RWVecView {
private:
> cols 4 0 48
    <C>(const RWDataView&, <t>*, unsigned, int);// For constructing new views
    friend <C> toVec(const <T>Array&);
    friend class <T>GenMat;                     // For row,col,diagonal
    friend class <T>Array;                      // For conversion constructor
> if <C>==DoubleVec
    friend <C>  real(const <A>ComplexVec&);
    friend <C>  imag(const <A>ComplexVec&);
> endif

public:

    /****************
     * Constructors *
     ****************/

    <C>()                              : RWVecView() {}
#ifdef RW_ALLOW_OLD_ARRAY_CONSTRUCTORS
    <C>(unsigned n)                    : RWVecView(n,sizeof(<T>)) {}  
#endif
    <C>(unsigned n, RWUninitialized)   : RWVecView(n,sizeof(<T>)) {}  
    <C>(unsigned n, RWRand&);
    <C>(unsigned n, <t> val);
    <C>(unsigned n, <t> val, <t> by);
    <C>(const char *);
    <C>(const <C>& a)                  : RWVecView((const RWVecView&)a) {}  // cast needed by Zortech 3.1
    <C>(const <C>Pick& p);
    <C>(const <t>* dat, unsigned n);            // Copy of dat will be made
    <C>(RWBlock *block, unsigned n);            // Pass a custom block on the free store
> if <R/C>==Complex
    <C>(const <P>Vec& re);                      // Conversion from <P>Vec
    <C>(const <P>Vec& re, const <P>Vec& im);
> endif

> # Conversion operators
> if <C>==IntVec || <C>==FloatVec
    operator DoubleVec() const;                 // Conversion to DoubleVec
> elif <C>==SCharVec || <C>==UCharVec
    operator IntVec() const;                    // Convert to IntVec
> endif

    /********************
     * Member functions *
     ********************/

> cols 15 37 48
> if <R/C>==Complex
    <C>        apply(<A>mathFunTy)   const;
    <P>Vec     apply2(<A>mathFunTy2) const;
> else
    <C>        apply(mathFunTy)      const;
#ifdef RW_NATIVE_EXTENDED
    <C>        apply(XmathFunTy)     const;
#endif
> endif
    unsigned   binaryStoreSize()     const;     // Storage requirements
    <C>        copy()                const;     // Synonym for deepCopy()
    <t>*       data()                           {return (<t>*)begin;}
    const <t>* data()                const      {return (const <t>*)begin;}
    <C>        deepCopy()            const;     // Copy with distinct instance variables 
    void       deepenShallowCopy();             // Insures only 1 reference to data
//  unsigned   length()              const;     // # elements (defined in base class RWVecView)
    <C>Pick    pick(const IntVec& x);           // Return the "picked" elements
    const <C>Pick pick(const IntVec& x) const;  // const version can only be used in vec ctor
    void       printOn(ostream& s, unsigned numberPerLine=5) const; // Pretty print
    <C>&       reference(const <C>& v);         // Reference self to v
    void       resize(unsigned);                // Will pad with zeroes if necessary
    void       reshape(unsigned);               // Contents after reshape are garbage
    void       restoreFrom(RWFile&);            // Restore from binary
    void       restoreFrom(RWvistream&);        // Restore from virtual stream
    void       saveOn(RWFile&)       const;     // Store using binary
    void       saveOn(RWvostream&)   const;     // Store to virtual stream
    void       scanFrom(istream& s);            // Read to eof or delimit with []
//  static int setFormatting(int);              // Change # items per line (defined in base class RWVecView)
    <C>        slice(int start, unsigned lgt, int strider=1) const;
//  int        stride()              const;     // increment between elements (defined in base class RWVecView)

    /********************
     * Member operators *
     ********************/

> # I set the width of the second col to 0 because operator()() screws
> # up the heuristic which determines what goes in what column
> cols 16 0 48
    <t>&        operator[](int i);              // With bounds checking
    <t>         operator[](int i)        const; // With bounds checking
    <t>&        operator()(int i);              // With optional bounds checking
    <t>         operator()(int i)        const; // With optional bounds checking
    <C>         operator[](const RWSlice&);     // With bounds checking
    const <C>   operator[](const RWSlice&) const;
    <C>         operator()(const RWSlice&);     // With optional bounds checking
    const <C>   operator()(const RWSlice&) const;
> cols 16 40 48
    <C>&        operator=(const <C>& v);        // Must be same length as v
    <C>&        operator=(const <C>Pick&);
    <C>&        operator=(<t>);
    RWBoolean   operator==(const <C>&)   const;
    RWBoolean   operator!=(const <C>& v) const;
    <C>&        operator+=(<t>);
> if <t>==UChar
    <C>&        operator-=(<t> s);
> else
    <C>&        operator-=(<t> s)               { return operator+=(-s); }
> endif
    <C>&        operator*=(<t>);
> if <t>==double || <t>==float
    <C>&        operator/=(<t> s)               { return operator*=(1.0/s); }
> else
    <C>&        operator/=(<t> s);
> endif
    <C>&        operator+=(const <C>&);
    <C>&        operator-=(const <C>&);
    <C>&        operator*=(const <C>&);
    <C>&        operator/=(const <C>&);
> if <R/C>==Real
    <C>&        operator++();                   // Prefix operator
    <C>&        operator--();                   // Prefix operator
#if !defined(RW_NO_POSTFIX)
    void        operator++(int)                 { ++(*this); }  // Postfix operator
    void        operator--(int)                 { --(*this); }  // Postfix operator
#endif
> endif
> nocols

> if <R/C>==Complex
    friend <P>Vec real(const <C>&);    // real and imag need access to the
    friend <P>Vec imag(const <C>&);    // RWBlock, so they must be friends
> endif
};
  
    /********************
     * Global Operators *
     ********************/

> cols 23 0 50
> if <T>!=UChar
           <C>         operator-(const <C>&);
> endif
    inline <C>         operator+(const <C>& v)  { return v; }
           <C>         operator+(const <C>&, const <C>&);
           <C>         operator-(const <C>&, const <C>&);
           <C>         operator*(const <C>&, const <C>&);
           <C>         operator/(const <C>&, const <C>&);
           <C>         operator+(const <C>&,<t>);
           <C>         operator+(<t> s, const <C>& V);
           <C>         operator-(const <C>& V, <t> s);
           <C>         operator-(<t>, const <C>&);
           <C>         operator*(const <C>&,<t>);
           <C>         operator*(<t> s, const <C>& V);
// The % operator used for inner product.  Definition postponed until
// after the dot prototype is seen.
//  inline <T>         operator%(const <C>& x, const <C>& y) {return dot(x,y);}
           <C>         operator/(const <C>& V, <t> s);
           <C>         operator/(<t>, const <C>&);
           ostream&    operator<<(ostream& s, const <C>& v);
           istream&    operator>>(istream& s, <C>& v);
#ifndef RW_NO_INLINED_TEMP_DESTRUCTORS
    inline <C>         operator*(<t> s, const <C>& V) {return V*s;}
    inline <C>         operator+(<t> s, const <C>& V) {return V+s;}
> if <T>!=UChar
    inline <C>         operator-(const <C>& V, <t> s) {return V+(<t>)(-s);} // cast makes microsoft happy when compiling sarr.cpp
> endif
> if <C>==DoubleVec || <C>==FloatVec
    inline <C>         operator/(const <C>& V, <t> s) {return V*(1/s);}
>endif
#endif

    /********************
     * Global Functions *
     ********************/

    /**** Miscellaneous Functions ****/

> if <R/C>==Complex
           <P>Vec      abs(const <C>& V);
> elif <C>==UCharVec
           // No abs() for UCharVec
> else
           <C>         abs(const <C>& V);
> endif
           <C>         cumsum(const <C>&);
> if <C>!=UCharVec
           <C>         delta(const <C>&);
> endif
           <t>         dot(const <C>&,const <C>&);
> if <R/C>==Real
           int         maxIndex(const <C>&);         // Returns *index* of max value
           <t>         maxValue(const <C>&);
           int         minIndex(const <C>&);         // Returns *index* of min value
           <t>         minValue(const <C>&);
> endif
           <t>         prod(const <C>&);
           <C>         reverse(const <C>&);
           <t>         sum(const <C>&);

> if <P>==Float || <P>==Double

    /**** Functions for both real and complex ****/

           <C>         cos(const <C>& V);
           <C>         cosh(const <C>& V);
           <C>         exp(const <C>& V);
           <t>         mean(const <C>& V);
           <C>         pow(const <C>&,const <C>&);
           <C>         sin(const <C>& V);
           <C>         sinh(const <C>& V);
           <C>         sqrt(const <C>& V);
           <p>         variance(const <C>&);

> endif
> if <C>==DoubleVec || <C>==FloatVec

    /**** Functions for real vectors ****/

           <C>         acos(const <C>& V);
           <C>         asin(const <C>& V);
           <C>         atan(const <C>& V);
           <C>         atan2(const <C>&,const <C>&);
           <C>         ceil(const <C>& V);
           <C>         expandEven(const <C>&);
           <C>         expandOdd(const <C>&);
           <C>         floor(const <C>& V);
           <C>         log(const <C>& V);
           <C>         log10(const <C>& V);
           <C>         tan(const <C>& V);
           <C>         tanh(const <C>& V);

> endif
> if <R/C>==Complex

    /**** Functions for complex vectors ****/

           <P>Vec      arg(const <C>& V);
           <C>         conj(const <C>& V);
           <t>         conjDot(const <C>& v, const <C>& w);  // dot(conj(v),w)
           <C>         expandConjugateEven(const <C>&);
           <C>         expandConjugateOdd(const <C>&);
           <P>Vec      imag(const <C>&);        // Returns reference to data
           <P>Vec      norm(const <C>& V);
           <P>Vec      real(const <C>&);        // Returns reference to data
           <C>         rootsOfOne(int N, unsigned nterms);
           <C>         rootsOfOne(int N);

> endif

    /**** Functions for type conversion ****/

> if <C>==SCharVec
           SCharVec    toChar(const IntVec&);
> elif <C>==FloatVec
           FloatVec    toFloat(const DoubleVec&);
> elif <C>==IntVec
           IntVec      toInt(const DoubleVec&);
           IntVec      toInt(const FloatVec&);
> else
           /* No type conversion functions for <C> */
> endif
> nocols

> if <T>==Double || <T>==Float || <T>==DComplex
    /**** Norm functions ****/
           <P>         l2Norm(const <C>&);    // Euclidean norm
	   <P>         l1Norm(const <C>&);    // sum of absolute values
           <P>         linfNorm(const <C>&);  // largest absolute value
           <P>         maxNorm(const <C>&);   // Same as linfNorm for vectors
           <P>         frobNorm(const <C>&);  // Same as l2Norm for vectors
> endif

    /*****************************************
     * Miscellaneous inline member functions *
     *****************************************/
/*
 * This must be put before the inline access functions because
 * subscripting uses this constructor and cfront complains
 * if a function is declared inline after it has already been
 * used.
 */

inline <C>::<C>(const RWDataView& v, <t>* b, unsigned l, int s)
  : RWVecView(v,b,l,s)
{
}

    /***************************
     * Inline Access Functions *
     ***************************/

  inline <t>& <C>::operator[](int i) {
    boundsCheck(i);
    return data()[i*step];
  }

  inline <t> <C>::operator[](int i) const {
    boundsCheck(i);
    return data()[i*step];
  }

  inline <t>& <C>::operator()(int i) {
#  ifdef RWBOUNDS_CHECK    
    boundsCheck(i);
#  endif
    return data()[i*step];
  }

  inline <t> <C>::operator()(int i) const {
#  ifdef RWBOUNDS_CHECK    
    boundsCheck(i);
#  endif
    return data()[i*step];
  }

  inline <C> <C>::operator[](const RWSlice& s) {
    s.boundsCheck(npts);
    return <C>(*this, data()+s.begin()*stride(), s.len(npts), stride()*s.stride());
  }

  inline const <C> <C>::operator[](const RWSlice& s) const {
    s.boundsCheck(npts);
    return <C>(*this, (<t>*)(data()+s.begin()*stride()), s.len(npts), stride()*s.stride());
  }

  inline <C> <C>::operator()(const RWSlice& s) {
#  ifdef RWBOUNDS_CHECK
    s.boundsCheck(npts);
#  endif
    return <C>(*this, data()+s.begin()*stride(), s.len(npts), stride()*s.stride());
  }

  inline const <C> <C>::operator()(const RWSlice& s) const {
#  ifdef RWBOUNDS_CHECK
    s.boundsCheck(npts);
#  endif
    return <C>(*this, (<t>*)(data()+s.begin()*stride()), s.len(npts), stride()*s.stride());
  }

// Here is the definition of operator% for inner products.  Had to
// be postponed because dot() was not yet declared in the operator
// section.
inline <T>         operator%(const <C>& x, const <C>& y) {return dot(x,y);}

#endif /* __RW<A>VEC_H__ */
